* {
    direction: rtl;
}

#main .header .header-inner .logo {
    float: right;
}

#main .header-right {
    float: left;
}

#main .header-right .column1 {
    float: right;
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    #main .header .header-inner .logo {
        width: auto;
        text-align: center;
        float: none;
        margin: 0;
        padding: 10px 0;
    }
    #main .header-right {
        width: auto;
        text-align: center;
        float: none;
        margin: 0;
        padding: 10px 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    #main .header-right .column2 {
        width: auto;
        float: none;
        border: none;
        display: table;
        margin: 0 auto 5% auto !important;
        padding: 0;
    }
}

#main .header-right .column2 {
    margin: 0px 15px 0px 0px;
}

#main .header-right .column2 i {
    float: right;
    margin: 0 0 0 15px;
}

#main .header .header-inner .nav ul li:hover>ul {
    left: auto;
    right: 0;
}

#main .header .header-inner .nav ul li {
    float: right;
    width: inherit;
}

#main #footer-wrapper .footer .cols-5 .widget-column-1,
#main #footer-wrapper .footer .cols-5 .widget-column-2,
#main #footer-wrapper .footer .cols-5 .widget-column-3,
#main #footer-wrapper .footer .cols-5 .widget-column-4,
#main #footer-wrapper .footer .cols-5 .widget-column-5 {
    float: right !important;
}

#main .footer ul li a:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal !important;
    padding-left: 15px;
    float: right;
}

#main .footer i {
    padding: 0 0px 0 10px;
}

#main .design-by {
    float: left;
    text-align: left;
}

#main .copyright-txt {
    float: right;
    text-align: right;
}

#main .col-md-12,
#main .col-lg-12,
#main .col-sm-12,
#main .col-xs-12,
#main .col-md-11,
#main .col-md-10,
#main .col-md-9,
#main .col-md-8,
#main .col-md-7,
#main .col-md-6,
#main .col-md-5,
#main .col-md-4,
#main .col-md-3,
#main .col-md-2,
#main .col-md-1,
#main .col-lg-11,
#main .col-lg-10,
#main .col-lg-9,
#main .col-lg-8,
#main .col-lg-7,
#main .col-lg-6,
#main .col-lg-5,
#main .col-lg-4,
#main .col-lg-3,
#main .col-lg-2,
#main .col-lg-1,
#main .col-sm-11,
#main .col-sm-10,
#main .col-sm-9,
#main .col-sm-8,
#main .col-sm-7,
#main .col-sm-6,
#main .col-sm-5,
#main .col-sm-4,
#main .col-sm-3,
#main .col-sm-2,
#main .col-sm-1,
#main .col-xs-11,
#main .col-xs-10,
#main .col-xs-9,
#main .col-xs-8,
#main .col-xs-7,
#main .col-xs-6,
#main .col-xs-5,
#main .col-xs-4,
#main .col-xs-3,
#main .col-xs-2,
#main .col-xs-1 {
    float: right !important;
}

#main .pull-right,
#sidebar {
    float: left !important;
}

#main tbody .mark,
tfoot .mark,
#main table th {
    text-align: right;
}

#main .powz span {
    padding-left: 15px;
    padding-right: 0px;
}

@media screen and (max-width: 479px) {
    #main .copyright-txt,
    #main .design-by {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: auto;
        display: block;
    }
}

/* Magento Checkout */

#main .opc-wrapper {
    float: right !important;
    padding-left: 30px;
    padding-right: 0;
}

#main .field .control._with-tooltip input {
    margin-left: 10px;
    margin-right: 0px;
}

#main .field-tooltip {
    left: 0;
    right: auto;
    top: 5px;
}

#main .checkout-shipping-method .actions-toolbar>.primary {
    float: left;
}

/* Magento Checkout */

/* ------------------------------------------------------------- */

/* magento Contact Us */

#main .contact_left {
    float: right;
}

#main .contact_right {
    float: left;
}

#main #contactform_main input[type=email],
#main #contactform_main input[type=tel],
#main #contactform_main input[type=text],
#main #contactform_main input[type=url],
#main #contactform_main textarea,
#main .wpcf7 form input[type="email"],
#main .wpcf7 form input[type="tel"],
#main .wpcf7 form input[type="text"],
#main .wpcf7 form textarea {
    float: right;
    margin: 0 0 8px 8px;
}

/* magento Contact Us */

/* index */

#main .nivoSlider img {
    transform: scaleX(-1);
}

#main .nivo-caption {
    left: auto;
    right: 7%;
    text-align: right;
}

#main a.nivo-prevNav {
    left: 6.5%;
    right: auto;
}

#main a.nivo-nextNav {
    right: auto;
    left: 12.8%;
}

/* ----------------slider done------------------ */

/* ----------------categories begin------------------ */

#main .threebox {
    float: right;
}

#main .threeboxbg {
    transform: scaleX(-1);
}

#main .services-content {
    transform: scaleX(-1);
    text-align: left;
}

#main .newproduct-price del .woocommerce-Price-amount {
    float: left;
    padding-right: 20px;
}

/* --------------==========PROMOTIONS===========--------------- */

#main .col-columns-1,
#main .col-columns-2,
#main .col-columns-3,
#main .col-columns-4,
#main .col-columns-5,
#main .col-columns-6,
#main .col-columns-7 {
    float: right;
}

/*-------------- about caps on index-------------- */

#main #section6 h2.section_title {
    text-align: right;
}

#main #section6 .view-all-btn {
    text-align: right;
}

#main #section6.menu_page {
    transform: scaleX(-1);
    filter: FlipH;
}

#main #section6.menu_page .area_row {
    transform: scaleX(-1);
    filter: FlipH;
}

/* --------======Sponsors=======---------- */

#main #section7,
#main #section7 .logoslider {
    direction: ltr !important;
}

/* ----====NEWS====------ */

#main .news-box .news-thumb {
    float: right;
}

#main .newsread {
    left: auto;
    right: 10%;
}

/* last */

#main .area_row .col-serv,
#main .area_row .col-serv .services2-icon {
    float: right;
}

/* index */

/* ---------------------------------------------------------------------- */

/* ---------------=========LOGIN=========---------------------- */

#main .remind span {
    margin-right: 15px;
    margin-left: 0px;
}

#main .actions-toolbar .primary,
#main .actions-toolbar .secondary {
    float: right;
}

/* ---------------=========LOGIN=========---------------------- */

/* -==========--news------- */

#main #sidebar ul li a:before {
    float: right;
    transform: scaleX(-1);
    padding-left: 15px;
}

#main .blog-post-repeat .post-thumb img {
    float: right;
    margin-right: 0px;
    margin-left: 15px;
}

#main .nav-previous {
    float: right;
}

/*---------------product cats--------- */

#main p.woocommerce-result-count {
    float: right;
}

#main form.woocommerce-ordering {
    float: left;
}

/* ------========Product Details=========------- */

#main .summary.entry-summary {
    float: left !important;
}

#main .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    float: right;
}

#main .alignleft,
#main img.alignleft {
    float: right;
    margin-left: 13px;
    margin-right: 0px;
}

#main .woocommerce span.onsale {
    right: -.5em;
    left: auto;
}