/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* The Nivo Slider styles */
.slider-main{min-height:650px; background:url(../images/loading.gif) no-repeat center center #ffffff;position:relative;}
.nivoSlider{position:relative;	width:100%;	height:auto; overflow: hidden;}
.nivoSlider img{position:absolute;	top:0px; left:0px;max-width: none; display:none;}
.nivo-main-image{display: block !important;position: relative !important; width: 100% !important;}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;	background:white; 	filter:alpha(opacity=0); opacity:0;}
/* The slices and boxes in the Slider */
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; top:0;}
.nivo-box {display:block; position:absolute; z-index:5;	overflow:hidden;}
.nivo-box img { display:block; }
/* Caption styles */
.nivo-html-caption{display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a{font-size:30px;line-height:0;text-align:center; position:absolute;cursor:pointer;z-index:2147483647; top:50%; transform:translateY(-50%);transition:all ease 1s; -webkit-transition:all ease 1s; -o-transition:all ease 1s; -ms-transition:all ease 1s; -moz-transition:all ease 1s; -moz-transition:all ease 1s; font-family:'FontAwesome';color:#ffffff;}
.nivo-directionNav a.nivo-prevNav.fa-angle-left:before, .nivo-directionNav a.nivo-nextNav.fa-angle-right:before{position: relative;left:0; right:0;top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%);}
a.nivo-prevNav{right:12.8%;}
a.nivo-nextNav {right:6.5%;}
a.nivo-prevNav, a.nivo-nextNav{top:100%; transform:translateY(-100%); -webkit-transform:translateY(-100%); -o-transform:translateY(-100%); -ms-transform:translateY(-100%); -moz-transform:translateY(-100%);}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav{text-align:left; padding:0; position:absolute; bottom:20px; z-index:6; margin:0; left:7%;}
.nivo-controlNav a{cursor:pointer;border:0; display:inline-block; height:5px;width:50px; margin:0 10px 0 0; text-indent:-9999px; border-radius:1px;	-moz-border-radius:1px; -webkit-border-radius:1px;-o-border-radius:1px;}
.nivo-controlNav a.active{background:#f00;}
.nivo-directionNav{background:rgba(0, 0, 0, 0.6); display:table; text-align:center;}
.nivo-directionNav a{border:0; display:block; width:83px; height:77px; opacity:1;transition: all 200ms ease-in-out 0s;background:rgba(0, 0, 0, 0.4);}
/* Caption styles */
.nivo-caption {position:absolute; left:7%; width:34%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color:#fff; z-index:8; padding:0; display:none;text-align:left;top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%);}
.slide_info h2{display:block; line-height:100%; color:#ffffff; margin:0 0 60px 0; padding:0;}
.slide_info h2 strong{letter-spacing:1px; padding:30px 0 20px 0; margin-top:10px; margin-bottom:10px; display:block;}
.slide_info p{ line-height:26px; margin-bottom:55px; padding:0; display:table;}
.slide_info a.sldbutton{font:400 15px/20px 'Roboto Condensed'; color:#fff; padding:10px 20px;background:#282828;}
.slide_info a.sldbutton:hover{background:#f08b08;}

