/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
    content: " ";
    display: table;
}

.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
    clear: both;
}

@-ms-viewport {
    width: device-width;
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none !important;
}

.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table !important;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    td.visible-xs,
    th.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table !important;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    td.visible-sm,
    th.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table !important;
    }
    tr.visible-md {
        display: table-row !important;
    }
    td.visible-md,
    th.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table !important;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    td.visible-lg,
    th.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table !important;
    }
    tr.visible-print {
        display: table-row !important;
    }
    td.visible-print,
    th.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

/* grid-end-------- */

body {
    font-family: Roboto;
    font-size: 15px;
    color: #242424;
    font-weight: normal;
    text-transform: none;
    font-style: normal;
}

.header .header-inner .logo h1 {
    font-family: Roboto Condensed;
    font-size: 37px;
    color: #343434;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}

.header .header-inner .logo h1 span {
    color: #dfaba0;
}

.header .header-inner .logo a span.tagline {
    font-family: Arimo;
    font-size: 12px;
    color: #636363;
    font-weight: normal;
    text-transform: capitalize;
    font-style: normal;
}

.header .header-inner .logo img {
    height: 88px;
}

.signin_wrap {
    background-color: #dfaba0;
    color: #ffffff;
}

,
.signin_wrap ul li,
.signin_wrap ul li:first-child {
    border-color: #34c9ff;
}

.signin_wrap ul li a {
    color: #ffffff;
}

.signin_wrap ul li a.current-menu-ancestor a.parent,
.signin_wrap ul li a:hover,
.signin_wrap ul li.current_page_item a,
.signin_wrap ul li.current_page_item ul li a:hover {
    color: #282828;
}

#sidebar .price_slider_wrapper .ui-widget-content {
    background-color: #cccccc;
}

#sidebar .ui-slider .ui-slider-handle {
    background-color: #282828;
}

#sidebar .ui-slider .ui-slider-range {
    background-color: #dfaba0;
}

.header {
    background-color: #ffffff;
}

.header .header-inner .nav ul li a {
    font-family: Roboto Condensed;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
}

.header .header-inner .header-nav,
.header .header-inner .nav ul li:hover>ul {
    background-color: #ffffff;
}

.header .header-inner .nav ul li ul li {
    border-color: #ececec;
    background: #000;
}

.header .header-inner .nav ul li a:hover,
.header .header-inner .nav ul li.current-menu-ancestor a.parent,
.header .header-inner .nav ul li.current_page_item a,
.header .header-inner .nav ul li.current_page_item ul li a:hover {
    background-color: #dfaba0;
    color: #ffffff;
}

.toggle a {
    background-color: #dfaba0;
}

.slide_info h2 {
    font-family: Berkshire Swash;
    font-size: 37px;
    color: #ffffff;
    font-weight: normal;
    text-transform: inherit;
    font-style: normal;
}

.slide_info h2 strong {
    font-family: Berkshire Swash;
    font-size: 83px;
    color: #ffffff;
    font-weight: normal;
    text-transform: inherit;
    font-style: normal;
}

.slide_info p {
    font-family: Roboto;
    font-size: 15px;
    color: #424242;
    font-weight: normal;
    text-transform: inherit;
    font-style: normal;
}

.slide_info a.sldbutton {
    background-color: #dfaba0;
    color: #ffffff;
}

.slide_info a.sldbutton:hover {
    background-color: #282828;
}

.nivo-controlNav a {
    background-color: #ffffff;
}

.nivo-directionNav a {
    color: #ffffff;
}

.nivo-controlNav a.active {
    background-color: #dfaba0;
}

.nivo-directionNav a:hover {
    color: #dfaba0;
}

h2.section_title {
    font-family: Berkshire Swash;
    font-size: 37px;
    color: #1f1f1f;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
}

h2.section_title span {
    color: #1f1f1f;
}

.newproductgallery ul#portfolio li a:hover h5,
.products-box:hover h5,
.whychooseus-box:hover h3 {
    color: #dfaba0;
}

.whychooseus-box {
    color: #b2b1b1;
    border-color: #eeeeee;
    box-shadow: 0 0 10px #f0efef;
    -moz-box-shadow: 0 0 10px #f0efef;
    -webkit-box-shadow: 0 0 10px #f0efef;
}

.whychooseus-box:hover {
    color: #474646;
}

.whychooseus-box:hover {
    border-color: #dfaba0;
    box-shadow: 0 3px 0 0 #dfaba0;
    -moz-box-shadow: 0 3px 0 0#dfaba0;
    -webkit-box-shadow: 0 3px 0 0 #dfaba0;
}

.newproductgallery ul#portfolio li .newproduct-sep,
.woocommerce ul.products li.product a img {
    border-color: #f5f4f4;
}

.newproductgallery ul#portfolio li:hover .newproduct-sep,
.woocommerce ul.products li.product:hover a img {
    border-color: #dfaba0;
}

.newproduct-price .woocommerce-Price-amount,
.newproduct-price ins,
.popular-price .woocommerce-Price-amount,
.popular-price ins {
    color: #dfaba0;
}

.news-box p {
    color: #929090;
}

.tm_description {
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #969696;
    font-weight: 300;
    text-transform: none;
    font-style: italic;
}

.client-info strong,
.client-info strong a {
    color: #282828;
}

.team-social-icon a {
    color: #ffffff;
    background: #282828;
}

.team-social-icon a:hover {
    color: #ffffff;
    background: #dfaba0;
}

#sidebar ul li a,
#sidebar ul li a,
#testimonials ul li h6,
.star-rating,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
a {
    color: #dfaba0;
}

.woocommerce span.onsale,
.woocommerce-MyAccount-navigation li a:hover,
.woocommerce-MyAccount-navigation li.is-active a,
a.added_to_cart:hover {
    background: #dfaba0;
}

#sidebar ul li a:hover,
#sidebar ul li.current-cat a,
.newproductfilter ul#filter li a,
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th,
a:hover {
    color: #282828;
}

.social-icons a {
    color: #ffffff !important;
    background: #282828;
}

.social-icons a:hover {
    color: #ffffff !important;
    background: #dfaba0;
}

#commentform input#submit,
#contactform_main input[type='submit'],
.accordion-box h2:before,
.button,
.customNavigation a i:hover,
.highlight-product .shopnow,
.men-goggles .view-all-btn a:hover,
.newproductfilter ul#filter li.current a,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.pagination ul li a,
.pagination ul li span,
.post-password-form input[type=submit],
.products-box .prodbuy a,
.services2-read,
.view-all-btn a,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.wpcf7 form input[type='submit'],
input.search-submit,
p.read-more a {
    background-color: #dfaba0;
    color: #ffffff;
}

#commentform input#submit:hover,
#contactform_main input[type='submit']:hover,
.button:hover,
.customNavigation a i,
.highlight-product .shopnow:hover,
.men-goggles .view-all-btn a,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.pagination ul li .current,
.pagination ul li a:hover,
.post-password-form input[type=submit]:hover,
.services2-read:hover,
.view-all-btn a:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.wpcf7 form input[type='submit']:hover,
input.search-submit:hover,
p.read-more a:hover {
    background-color: #282828;
    color: #ffffff;
}

#footer-wrapper {
    background-color: #1c1c1c;
    color: #ffffff;
}

#footer-wrapper {
    background: url("../images/footer-bg.jpg");
    background-repeat: repeat;
}

.copyright-wrapper {
    background-color: rgba(22, 22, 22, 0.1);
}

.footer h3 {
    font-family: Roboto Condensed;
    font-size: 19px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
}

.footer h3 span {
    border-color: #ffffff;
}

.copyright-wrapper a:hover,
.footer a,
.footer ul li,
.footer ul li a {
    color: #ffffff;
}

.copyright-wrapper a,
.footer a:hover,
.footer ul li a:hover,
.footer ul li.current_page_item a {
    color: #282828;
}

.searchbox-icon,
.woocommerce-product-search input[type='submit'],
h3.widget-title {
    background-color: #282828;
    color: #ffffff;
}

aside.widget {
    background-color: #f5f5f5;
}

#sidebar ul li {
    border-color: #d0cfcf;
}

#sidebar ul li a,
#sidebar ul li a {
    color: #282828;
}

#sidebar ul li a:hover,
#sidebar ul li.current-cat a,
#sidebar ul li.current_page_item a {
    color: #88c87b;
}

.searchbox-input,
.woocommerce-product-search input[type='search'] {
    background-color: #ece8e8;
}

.photobooth .gallery ul li {
    box-shadow: -13px -13px 0 0 #f5f5f5;
    -moz-box-shadow: -13px -13px 0 0 #f5f5f5;
    -webkit-box-shadow: -13px -13px 0 0 #f5f5f5;
}

.photobooth .gallery ul li:hover {
    background: #1874c1;
    float: left;
    z-index: 999;
    background: url("http://sktperfectdemo.com/demos/spectacles/wp-content/themes/skt-spectacles/images/zoom-icon.png") 50% 50% no-repeat #1874c1;
}

.photobooth .filter-gallery ul li.current a {
    border-color: #1874c1;
    color: #1874c1;
}

.photobooth .gallery ul li {
    box-shadow: -13px -13px 0 0 1;
    -moz-box-shadow: -13px -13px 0 0 1;
    -webkit-box-shadow: -13px -13px 0 0 1;
}

iframe {
    border-color: #ffffff;
}

h1 {
    font-family: Roboto Condensed;
    font-size: 36px;
    color: #242424;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
}

h2 {
    font-family: Roboto Condensed;
    font-size: 32px;
    color: #242424;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
}

h3 {
    font-family: Roboto;
    font-size: 22px;
    color: #242424;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
}

h4 {
    font-family: Roboto Condensed;
    font-size: 20px;
    color: #242424;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}

h5 {
    font-family: Roboto Condensed;
    font-size: 18px;
    color: #4d4e4e;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
}

h6 {
    font-family: Roboto Condensed;
    font-size: 15px;
    color: #242424;
    font-weight: normal;
    text-transform: none;
    font-style: normal;
}

/* ------------------- */

.popular-title-price {
    transition: 1s;
}

.item:hover .popular-title-price {
    bottom: auto;
    top: 20px;
    transition: 1s;
    box-shadow: #0000007d 0 5px 20px 8px;
}

.newproduct-sep:hover {
    bottom: 10px !important;
    top: auto !important;
    transition: 1s;
    box-shadow: #0000002e 0 0 20px 4px;
}

.newproduct-title-price {
    position: relative;
    top: 0;
}

.newproduct-thumb:hover {
    box-shadow: #0000002e 0 0 20px 4px;
}

.hover-layers {
    position: absolute;
    display: none;
    z-index: 999999;
    bottom: 25px;
    left: auto;
    right: auto;
    float: none;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.hover-layers a {
    padding: 0 15px;
}

.newproduct-sep:hover .hover-layers {
    display: block;
}

.newproduct-sep:hover .newproduct-title-price {
    background: #fff;
    color: #fff;
}

.newproduct-sep:hover .newproduct-price {
    color: #fff;
    visibility: hidden;
}

.newproduct-title {
    position: absolute;
    width: 100%;
    color: #616161;
    margin: 0 auto;
    top: -35px;
}

.cff {
    color: #fff;
}

.col-serv {
    width: 33.3%;
    float: left;
}

.text-center {
    text-align: center;
}

.eye-circle {
    max-width: 130px;
    max-height: 130px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 130px;
    text-align: center;
    color: #dfaba0;
    border: 2px solid #ccc;
    margin: 15px auto;
}

.gr-clr {
    color: #ccc;
    vertical-align: middle;
}

.gr-clr:hover {
    color: #1c1c1c;
}

.inc-icnz {
    color: #dfaba0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.bxtz {
    padding: 10px 40px !important;
    margin: 15px auto !important;
    width: 100%;
}

.w40th input {
    width: 40px;
}

.mb-0 {
    margin-bottom: 0 !important;
    padding-bottom: 10px !important;
}

.mt-5 {
    margin-top: 5px;
}

.w-90 {
    width: 90%;
}

.mt-20 {
    margin-top: 20px;
}

.testimonial-all h5.pb-0 {
    padding-bottom: 0 !important;
}

.ccalt {
    background-color: #282828 !important;
    color: #fff !important;
}

.ccalt:hover {
    background-color: #dfaba0 !important;
}

.fr-0 {
    float: right;
    display: contents;
}

/* ddddddddddddd */

svg {
    fill: #111;
}

.accordion {
    /* margin: 100px; */
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    color: #111;
}

.captzzs {
    display: flex;
}

.block-header:hover svg {
    transform: rotate(-180deg);
    transform-origin: center;
    transition-duration: .6s;
}

input:checked+label~.block-body {
    max-height: 100%;
}

.block-body {
    margin-top: 30px;
    max-height: 0;
    overflow: hidden;
}

.product-item-details {
    padding: 0 15px;
}

.accxz {
    display: none;
}

td.col {
    padding: 15px;
    border-right: 1px solid #eaeaea;
}

/* -------- */

.table-totals tbody .mark,
.table-totals tfoot .mark,
tbody .mark,
tfoot .mark {
    border: 0;
    font-weight: 400;
    padding: 6px 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody .mark,
tfoot .mark {
    text-align: left;
}

.table-totals tbody .amount,
.table-totals tfoot .amount,
tbody .amount,
tfoot .amount {
    border: 0;
    font-weight: 400;
    padding: 6px 0 6px 14px;
    text-align: right;
    white-space: nowrap;
}

.grand .mark,
.table-totals .grand .mark {
    font-size: 18px;
    border-top: 1px solid #ccc;
}

.w-100 {
    width: 100%;
}

.mmt-15-1 {
    margin-top: 15px !important;
}

.clear1 {
    display: block;
    font-weight: 600;
    clear: both;
}

table.data.table.totals {
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

/* cart Product Details */

.table-wrapper .cart thead tr th.col {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    background: #282828;
    color: #fff;
    border-right: 1px solid #ccc;
}

.order-items.table-wrapper .col.msrp,
.order-items.table-wrapper .col.price,
.order-items.table-wrapper .col.qty,
.order-items.table-wrapper .col.subtotal,
.table-wrapper .col.msrp,
.table-wrapper .col.price,
.table-wrapper .col.qty,
.table-wrapper .col.subtotal {
    text-align: right;
}

.float-initial {
    float: initial !important;
}

/* ---------- */

table th {
    text-align: left;
}

table>tbody>tr>td,
table>tbody>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th {
    vertical-align: top;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.items {
    margin: 0;
    padding: 0;
    list-style: none none;
}

.powz span {
    padding-right: 15px;
}

.qtycrt {
    width: 50px;
}

.item-info {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.inc-icnz a {
    margin: 0 10px;
}

/* product slider----- */

.product-slider {
    /* padding: 45px; */
}

.product-slider #carousel {
    /* border: 4px solid #1089c0; */
    margin: 0;
}

.product-slider #thumbcarousel {
    margin: 12px 0 0;
    /* padding: 0 45px; */
}

.product-slider #thumbcarousel {
    /* text-align: center; */
}

.product-slider #thumbcarousel .thumb {
    border: 4px solid #cecece;
    width: 15%;
    margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    max-width: 98px;
}

.product-slider #thumbcarousel .thumb:hover {
    border-color: #1089c0;
}

.product-slider img {
    width: 100%;
    height: auto;
}

.carousel-control {
    color: #0284b8;
    text-align: center;
    text-shadow: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    top: 23%;
}

.carousel-control:active,
.carousel-control:focus,
.carousel-control:hover {
    color: #333;
}

.carousel-caption,
.carousel-control .fa {
    font: normal normal normal 30px/26px FontAwesome;
}
.slider-main{
    min-height: min-content !important;
}
.nivoSlider{
    height:min-content !important; 
}
.carousel-control {
    background-color: rgba(0, 0, 0, 0);
    bottom: auto;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 30%;
    width: auto;
}

.carousel-control.left,
.carousel-control.right {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}

.no-btxn {
    background: none;
    border: none;
}

.inc-icnz button {
    background: none !important;
}

.blog-post-repeat .post-thumb img {
    margin-top: 0px;
}

#section6 .view-all-btn {
    text-align: left;
}

#section6.menu_page {
    background-color: #ececec;
    background-image: url(../images/section6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* slick slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* slick slider */