/*
Theme Name: SKT Spectacles
Theme URI: https://www.sktthemes.net/shop/optometrist-wordpress-theme/
Author: SKT Themes
Author URI: https://www.sktthemes.net
Description: Optometrist WordPress Theme. Check demo at: http://sktthemesdemo.net/optometrist/
Version: pro 1.0
License: GNU General Public License version 3
License URI: license.txt
Text Domain: spectacles
Tags: gray, white, dark, one-column, two-columns, right-sidebar, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging

SKT Spectacles WordPress Theme has been created by SKT Themes(sktthemes.net), 2016.
SKT Spectacles WordPress Theme is released under the terms of GNU GPL
*/

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 20px;
    overflow-x: hidden;
}

#main {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: none;
}

img,
section img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    padding: 0;
    line-height: 100%;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    color: #242424;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.displaynone {
    display: none;
}

p {
    margin: 0 0 20px;
    padding: 0;
    line-height: 28px;
}

p:empty {
    display: none;
    margin: 0;
}

a {
    color: #282828;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

a:hover {
    color: #f08b08;
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

article ol,
article ul {
    margin: 0 0 15px 15px;
}

article ul li {
    list-style: disc;
}

.custom-height {
    min-height: 20px;
}

.clear {
    clear: both;
}

.middle-align {
    margin: 0 auto;
    padding: 0;
}

.wp-caption {
    margin: 0;
    padding: 0;
    font-size: 13px;
    max-width: 100%;
}

.wp-caption-text {
    margin: 0;
    padding: 0;
}

.wp-caption img {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Text meant only for screen readers. */

.bypostauthor {
    margin: 0;
    padding: 0;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.sticky {
    margin: 0;
    padding: 0;
}

.gallery-caption {
    margin: 0;
    padding: 0;
}

.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 13px;
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 0;
}

.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 10px;
}

.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.comments-area {
    margin-bottom: 15px;
}

.comment-list .comment-content ul {
    list-style: none;
    margin-left: 15px;
}

.comment-list .comment-content ul li {
    margin: 5px;
}

.main-container ol {
    list-style-position: outside;
    margin-left: 20px;
}

.main-container ol li {
    margin: 5px 0;
}

.toggleMenu {
    display: none;
}

section {
    padding: 75px 0;
    overflow: hidden;
}

#section4 {
    padding: 130px 0;
}

h2.section_title {
    font-weight: 400;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    color: #3a3a3a;
    margin: 0 0 30px;
    padding: 0 0 30px;
    text-transform: uppercase;
    text-align: center;
}

#slider {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.header .header-inner .logo {
    float: left;
    margin: 45px 0;
}

.header .header-inner .logo img {
    height: 88px;
}

.header .header-inner {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.header .header-inner .logo h1 {
    margin: 0;
    line-height: 100%;
}

.header .header-inner .logo h1 span {
    font-weight: 300;
    color: #04bcf0;
}

.header .header-inner .logo span.tagline {
    margin: 0;
    padding: 0;
    display: block;
}

.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}


/*header menu css*/

.toggle {
    display: block;
}

.toggle a {
    width: auto;
    color: #ffffff;
    background: url("images/mobile_nav_right.png") no-repeat right center #3e3e3e;
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

.toggle a:hover {
    color: #ffffff !important;
}

.nav {
    display: none;
}

.header {
    width: 100%;
    height: auto;
    padding: 0;
    z-index: 9;
    position: relative;
}


/* = innerbanner css -------------------------------------------------------------- */

.innerbanner {
    text-align: center;
    position: relative;
}

.innerbanner img {
    position: relative;
    background-size: cover;
    width: 100%;
}


/* = header top sign in  css -------------------------------------------------------------- */

.signin_wrap {
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
    z-index: 99;
    position: relative;
    background: #04bcf0;
    font: 400 12px/42px 'Arimo';
}

.signin_wrap .widget-left {
    float: left;
    padding: 0;
}

.signin_wrap .widget-left ul li i {
    font-size: 20px;
    line-height: 0;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.signin_wrap .widget-left ul li a {
    font-size: 14px;
}


/* signin_wrap top menu css */

.topnav {
    padding: 0;
    text-align: left;
    float: left;
    margin: 0;
}

.signin_wrap ul {
    margin: 0;
    padding: 0;
}

.signin_wrap ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    border-right: #85cee2 1px solid;
}

.signin_wrap ul li:first-child {
    border-left: solid 1px #85cee2;
}

.signin_wrap ul li a {
    padding: 0;
    margin: 0;
    color: #fff;
}

.signin_wrap ul li a:hover {
    padding: 0;
    margin: 0;
    color: #343434;
}

.signin_wrap .widget-right {
    float: right;
}

.header .header-inner .header-nav {
    margin: 35px auto 0;
    width: 100%;
    position: relative;
}

.header .header-inner .nav {
    position: relative;
    z-index: 9999;
    padding: 0;
    margin: 0 auto;
}

.header .header-inner .nav ul {
    margin: 0;
    padding: 0;
}

.header .header-inner .nav ul li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.header .header-inner .nav ul li a {
    display: block;
    padding: 17px 30px;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.header .header-inner .nav ul li a:hover {
    background: #0590c8;
}

.header .header-inner .nav ul li ul li {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-bottom: solid 1px #ececec;
}

.header .header-inner .nav ul li ul li a {
    display: block;
    padding: 13px 15px;
    position: relative;
    text-align: left;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.header .header-inner .nav ul li:last-child a {
    border-right: none;
}

.header .header-inner .nav ul li ul {
    display: none;
    z-index: 9999;
    position: relative;
}

.header .header-inner .nav ul li:hover>ul {
    top: 100%;
    display: block;
    width: 200px;
    position: absolute;
    left: 0;
    text-align: left;
    background-color: #fff;
}

.header .header-inner .nav ul li:hover ul li ul {
    display: none;
    position: relative;
}

.header .header-inner .nav ul li:hover ul li:hover>ul {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

.header-right {
    float: right;
    margin: 40px 0;
    padding: 0;
}

.header-right i {
    top: 0;
    position: relative;
    color: #191919;
    font-size: 24px;
    float: left;
    margin: 0 10px 0 0;
}

.header-right .column1 {
    float: left;
    font: bold 15px 'Roboto Condensed';
    position: relative;
}

.header-right .select-category {
    width: 22%;
    position: absolute;
    overflow: hidden;
    border-right: solid 1px #f2f1f1;
    background: #ffffff url("images/icon-select.png") no-repeat 90% 50%;
    cursor: pointer;
}

.header-right select {
    font: normal 14px 'Roboto Condensed';
    text-transform: uppercase;
    padding: 10px 0 11px 10px;
    color: #343434;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header-right select option {
    padding-left: 10px;
    padding-right: 10px;
}

.header-right input[type="search"] {
    -webkit-appearance: textfield;
    background: #ffffff;
    border: none;
    color: #545353;
    float: right;
    margin: 0;
    padding: 13px 10px;
    width: 78%;
    border-radius: 0;
}

.header-right input[type="submit"] {
    background: #04bcf0;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font: bold 15px/21px 'Roboto Condensed';
    padding: 10px 20px 11px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.header-right .column2 {
    float: left;
    padding: 0;
    margin: 5px 0 0 15px;
}

.header-right .column2 i {
    float: left;
    color: #fff;
    background: #04bcf0;
    padding: 8px 9px;
    margin: 0 15px 0 0;
}

.header-right .column2 .cart-item {
    display: inline-block;
}

.header-right .column2 .cart-item h6 {
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}


/* = social icons css
-------------------------------------------------------------- */

.social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background: #131313;
    color: #5c5c5c;
    margin: 0 5px 5px 0;
    text-align: center;
    padding: 0;
    transition: .6s;
    -moz-transition: .6s;
    -webkit-transition: .6s;
    -o-transition: .6s;
    border-radius: 100%;
}

.social-icons a:hover {
    color: #04bcf0;
}

.social-icons br {
    display: none;
}


/*search form css*/

.searchbox {
    position: relative;
    min-width: 35px;
    width: 100%;
    height: 40px;
    float: right;
    overflow: hidden;
    padding-left: 0;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.searchbox-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #ece8e8;
    width: 100%;
    height: 41px;
    margin: 0;
    padding: 0 55px 0 20px;
    font-size: 13px;
    color: #7f7f7f;
}

.searchbox-input::-webkit-input-placeholder {
    color: #7f7f7f;
}

.searchbox-input:-moz-placeholder {
    color: #7f7f7f;
}

.searchbox-input::-moz-placeholder {
    color: #7f7f7f;
}

.searchbox-input:-ms-input-placeholder {
    color: #7f7f7f;
}

.searchbox-icon,
.searchbox-submit {
    width: 35px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 22px;
    right: 0;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    outline: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #dcddd8;
    background: url("images/search-icon.png") no-repeat center center #282828;
}

.searchbox-open {
    width: 40%;
}

#sidebar .searchbox-open {
    width: 100%;
}


/* = section first css
-------------------------------------------------------------- */

.last_column {
    margin-right: 0;
}

.nivoSlider {
    height: 650px!important;
}

#whychooseus-wraper {
    position: relative;
    margin: 0;
    padding: 60px 0;
}

.whychooseus-content {
    width: 100%;
}


/* Shortcode class  */

.whychooseus {
    position: relative;
    margin: 0;
    padding: 0;
}

.whychooseus-box {
    width: 19.50%;
    display: inline-block;
    margin: 0 2.5% 0 0;
    padding: 30px 10px 30px 30px;
    color: #b2b1b1;
    border: solid 1px #eeeeee;
    box-shadow: 0 0 10px #f0efef;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.whychooseus-box:hover {
    color: #474646;
    border: solid 1px #04bcf0;
    -moz-box-shadow: inset 0 -3px 0 0 #04bcf0 !important;
    -webkit-box-shadow: inset 0 -3px 0 0 #04bcf0 !important;
    box-shadow: inset 0 -3px 0 0 #04bcf0 !important;
}

.whychooseus-box i {
    float: left;
    font-size: 40px;
    color: #474646;
    padding: 0;
    margin: 0 10% 0 0;
    text-align: center;
}

.whychooseus-box .chooseus-content {
    float: left;
}

.whychooseus-box h3 {
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
    text-transform: uppercase;
    font-size: 19px;
}

.whychooseus-box:hover h3 {
    color: #04bcf0;
}

.whychooseus-box:nth-child(4n+4) {
    margin-right: 0;
}

#sitemain .whychooseus-box,
.nosidebar .whychooseus-box {
    width: 21%;
    margin: 2% 1% 2% 0;
    padding-left: 10px;
}

#sitemain .last,
.nosidebar .last {
    margin-right: 0;
}

#sitemain .whychooseus-box h3,
.nosidebar .whychooseus-box h3 {
    font-size: 15px;
}


/** By Recent Products CSS ** -----------------------------------------------------------------*/

.products-box {
    width: 23.3%;
    height: auto;
    float: left;
    margin: 0 2.2% 2% 0;
    position: relative;
    transition: .3s;
    text-align: center;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.products-box .products-thumb {
    display: block;
    margin: auto;
    padding: 10px;
    background: #fff;
    border: solid 1px #f0f0f0;
    position: relative;
    height: 347px;
    overflow: hidden;
    box-sizing: border-box;
}

.products-box .products-thumb img {
    vertical-align: middle;
}

.products-box:hover .products-thumb img {
    opacity: .4;
}

.products-box h5 {
    font-weight: normal;
    color: #4d4e4e;
    text-transform: uppercase;
    padding: 0 0 15px;
    margin: 0;
}

.products-box:hover h5 {
    color: #04bcf0;
}

#productdescbg {
    height: auto;
    padding: 20px 10px;
}

.products-box .prodprice {
    font: bold 22px 'Roboto Condensed';
    position: absolute;
    bottom: 30%;
    right: 27%;
    padding: 5px 0;
    text-align: center;
    width: 125px;
    color: #000;
    border: solid 1px #000;
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.products-box .prodbuy a {
    font: 15px 'Roboto Condensed';
    position: absolute;
    bottom: 2.9%;
    right: 27%;
    text-transform: uppercase;
    background: #04bcf0;
    padding: 10px 25px;
    color: #fff;
    opacity: 0;
}

.products-box:hover .prodbuy a,
.products-box:hover .prodprice,
.products-box:hover .review_1,
.products-box:hover .review_2,
.products-box:hover .review_3,
.products-box:hover .review_4,
.products-box:hover .review_5 {
    opacity: 1;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.products-box .review_1,
.products-box .review_2,
.products-box .review_3,
.products-box .review_4,
.products-box .review_5 {
    width: 85px;
    height: 13px;
    position: absolute;
    top: 48%;
    right: 34%;
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.products-box .review_1 {
    background: url("images/review1.html") no-repeat top center;
}

.products-box .review_2 {
    background: url("images/review2.html") no-repeat top center;
}

.products-box .review_3 {
    background: url("images/review3.html") no-repeat top center;
}

.products-box .review_4 {
    background: url("images/review4.html") no-repeat top center;
}

.products-box .review_5 {
    background: url("images/review5.html") no-repeat top center;
}

.last {
    margin-right: 0;
}

#sitemain .products-box .review_1,
#sitemain .products-box .review_2,
#sitemain .products-box .review_3,
#sitemain .products-box .review_4,
#sitemain .products-box .review_5,
.nosidebar .products-box .review_1,
.nosidebar .products-box .review_2,
.nosidebar .products-box .review_3,
.nosidebar .products-box .review_4,
.nosidebar .products-box .review_5 {
    right: 30%;
    top: 40%;
}

#sitemain .products-box .prodprice,
.nosidebar .products-box .prodprice {
    right: 14%;
}

#sitemain .products-box .prodbuy a,
.nosidebar .products-box .prodbuy a {
    right: 13%;
}

.men-goggles {
    width: 60%;
    font: 16px 'Berkshire Swash';
    color: #ffffff;
}

.men-goggles span {
    font-size: 35px;
    color: #000000;
    padding: 0;
}

.men-goggles h2 {
    font-size: 97px;
    font-family: 'Berkshire Swash';
    color: #ffffff;
    margin: 0 0 20px;
}

.men-goggles .view-all-btn a {
    padding: 18px 50px;
}

.men-goggles p {
    font-family: 'Roboto Condensed';
    font-size: 19px;
    margin-bottom: 30px;
}


/* New Product Filter*/

.newproducts {
    position: relative;
}

.newproductfilter ul#filter {
    margin: 0 auto 30px;
    display: table;
    font: 15px 'Roboto Condensed';
    text-transform: uppercase;
}

.newproductfilter ul#filter li {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.newproductfilter ul#filter li a {
    padding: 10px 25px;
    color: #474646;
    border-radius: 3px;
}

.newproductfilter ul#filter li.current a {
    background: #04bcf0;
    color: #fff;
}

.newproductgallery {
    position: relative;
    margin: 0 -15px;
}

.newproductgallery ul#portfolio li {
    float: left;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.newproductgallery ul#portfolio li .newproduct-thumb {
    height: 340px;
    position: relative;
    overflow: hidden;
}

.newproductgallery ul#portfolio li .newproduct-thumb img {
    min-height: 340px;
    height: auto;
    width: 100%;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.newproduct-title-price {
    width: 100%;
    position: absolute;
    z-index: 999999;
    bottom: 40px;
    box-sizing: border-box;
    text-align: center;
}

.newproduct-title {
    font: bold 15px/20px 'Roboto';
    text-transform: uppercase;
    padding: 10px 0 0;
    display: block;
}

.newproduct-price {
    display: inline-block;
}

.newproduct-price del .woocommerce-Price-amount {
    text-decoration: inherit;
    float: right;
    font-size: 15px;
    color: #929090;
    font-style: italic;
    font-family: 'Roboto Condensed';
    padding-left: 20px;
}

.newproduct-price .woocommerce-Price-amount,
.newproduct-price ins {
    text-decoration: none;
    float: left;
    font-size: 27px;
    line-height: 30px;
    color: #04bcf0;
    font-family: 'Roboto';
    padding-right: 20px;
}

.newproduct-sep {
    border: solid 1px #ff0000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.addtocartscode {
    font: 15px 'Roboto Condensed';
    position: absolute;
    top: 0;
    background: #ffffff;
    color: #04bcf0;
    padding: 10px 25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    opacity: 0;
    min-width: 80px;
    text-align: center;
}

.newproductgallery ul#portfolio li:hover .addtocartscode {
    opacity: 1;
    top: 50%;
    transform: translateY(-50%, -50%);
    -webkit-transform: translateY(-50%, -50%);
    -o-transform: translateY(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
    -moz-transform: translateY(-50%, -50%);
}


/*  Our Blog  */

.blankspace {
    height: 60px;
    clear: both;
}

.news-box {
    width: 48.7%;
    float: left;
    margin: 0 30px 30px 0;
    position: relative;
}

.news-box.lastleft {
    margin-left: 0;
}

.news-box h3 {
    padding: 0;
    margin-bottom: 15px;
    line-height: 33px;
}

.news-box .news-thumb {
    width: 50%;
    float: left;
    position: relative;
    height: 270px;
    overflow: hidden;
}

.news-box .news-thumb img {
    width: 100%;
    min-height: 270px;
    vertical-align: top;
}

.infopostmeta {
    font-size: 15px;
    font-family: 'Roboto Condensed';
    font-weight: normal;
    padding-bottom: 10px;
}

.news-box p {
    font-size: 15px;
    font-family: 'Roboto Condensed';
    font-weight: normal;
    color: #929090;
}

.news {
    margin: 0;
    padding: 0 5%;
    width: 50%;
    float: right;
    box-sizing: border-box;
    display: table;
    position: relative;
    min-height: 275px;
}

.newsread {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 10%;
}

.date-news {
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    height: 105px;
    width: 80px;
    font: bold 14px 'Roboto Condensed';
    z-index: 999;
    position: absolute;
    text-align: center;
    background: #515151;
    border: 10px solid #515151;
    box-shadow: 0 0 0 1px #616161 inset;
    left: -15%;
    top: -60px;
    color: #ffffff;
}

.date-news .byadmin-date {
    font-size: 29px;
    font-family: 'Roboto Condensed';
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #616161;
}

.date-news .byadmin-month {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed';
    display: block;
    padding: 10px 0 0;
}

#sitemain .date-news,
.nosidebar .date-news {
    width: 45px;
}

#sitemain .date-news .byadmin-date,
#sitemain .date-news .byadmin-month,
.nosidebar .date-news .byadmin-date,
.nosidebar .date-news .byadmin-month {
    padding-left: 0;
    padding-right: 0;
}

#sitemain .user-comment,
.user-comment {
    padding-left: 10px;
    padding-right: 10px;
}

.area_row {
    margin: 0 -15px;
}


/*  Our Services  */

section#ourservices {
    padding-bottom: 20px;
    background-attachment: fixed;
}

.homeservices {
    position: relative;
    top: -63px;
    margin-bottom: -63px;
    z-index: 999;
}

.ourservices {
    width: 100%;
}

.threebox {
    width: 33.333%;
    float: left;
    margin: 0;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
}

.threeboxbg {
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    min-height: 230px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.threebox i {
    padding: 0;
    margin: 0 10px 0 0;
    display: inline-table;
}

.threebox .sertitle {
    font: bold 37px/26px 'Berkshire Swash';
    margin: 0;
    padding: 0 30px;
    letter-spacing: 2px;
}

.threebox .sertitle span {
    font-size: 23px;
    padding-bottom: 20px;
    display: block;
}

.threebox a.readmore {
    font: 400 16px/16px 'Roboto Condensed';
    letter-spacing: 2px;
    margin: 0;
    display: block;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.threebox a.readmore strong {
    font-size: 20px;
}

.threebox .services-thumb {
    float: right;
    margin: 5px 0;
}

.threebox .services-content {
    margin: 0;
    display: block;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.threebox .services-content p {
    margin: 5px 0;
}

.threebox a.readmore:hover {
    color: #282828 !important;
}

.ourteam {
    margin: 0;
    padding: 0;
    position: relative;
}

.ourteam_col {
    width: 23%;
    margin: 2.6% 2.6% 0 0;
    float: left;
    text-align: center;
    background: #ffffff;
    position: relative;
}

.ourteam_thumb {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 310px;
}

.ourteam_col h3 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.ourteam_col a.rdmore {
    border: solid 1px #282828;
    color: #282828;
    padding: 6px 21px;
    display: inline-block;
    margin-top: 15px;
}

.ourteam_col:hover a.rdmore {
    color: #282828;
    background: #ffffff;
}

.member-desination {
    padding-bottom: 15px;
    display: block;
}

.team-social-icon {
    margin: -20px auto 0;
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 9999;
}

.team-social-icon a {
    float: left;
    padding: 0;
    width: 35px;
    line-height: 35px;
    height: auto;
    text-align: center;
    color: #ffffff;
    background: #038dc4;
    margin-right: 1px;
}

.team-social-icon a:hover {
    background: #04bcf0;
    color: #ffffff;
}

.section-teammember .ourteam_col h3 {
    margin: 20px 0 10px;
}

#sitemain .ourteam_thumb,
.nosidebar .ourteam_thumb {
    min-height: inherit;
}

#sitemain .team-social-icon a,
.nosidebar .team-social-icon a {
    width: 40px;
}


/* Testimonials */

section#testimonials {
    padding: 90px 0 75px;
}

#testimonials .testimonials-home {
    position: relative;
}

.testimonial-all {
    border-bottom: solid 1px #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.tm_description {
    padding: 0 16%;
    position: relative;
    box-sizing: border-box;
}

.tm_description i {
    display: block;
    font-size: 52px;
    color: #f0f7fc;
    margin-bottom: -30px;
    text-align: center;
    font-style: 14px;
    font-style: italic;
    color: #858484;
}

.tm_description p {
    position: relative;
    z-index: 999;
    padding: 0;
    margin: 0;
    height: 110px;
    overflow: auto;
    text-align: center;
    line-height: 32px;
}

.client-info {
    display: block;
    text-align: center;
}

.client-info strong {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    display: block;
    margin-bottom: 30px;
}

.client-info strong span {
    font-weight: 300;
    padding-bottom: 10px;
    display: block;
    font-size: 16px;
}

.client-info strong,
.client-info strong a {
    color: #202322;
}

.client-info img {
    margin-bottom: 25px;
    border-radius: 50%;
}

.customNavigation {
    top: 0;
    position: relative;
    z-index: 9999;
}

.testimonials-home .customNavigation {
    position: relative;
    top: -70px;
    z-index: 9999;
}

.customNavigation a i {
    color: #fff;
    padding: 8px 15px;
    background: #282828;
    cursor: pointer;
}

.customNavigation a i:hover {
    background: #04bcf0;
}

.testimonials .owl-nav .owl-next,
.testimonials .owl-nav .owl-prev {
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.testimonials .owl-nav .owl-prev {
    left: -40px;
}

.testimonials .owl-nav .owl-next {
    right: -40px;
}

.customNavigation .prev {
    float: left;
}

.customNavigation .next {
    float: right;
}

#sidebar .client-say {
    width: auto;
    margin: 0;
}

#sidebar .tm_description {
    display: block;
}

#sitemain .client-say,
.nosidebar .client-say {
    width: 44.5%;
}

#sitemain .clientlogo,
.nosidebar .clientlogo {
    margin-right: 15px;
}

#sitemain .photobooth .gallery ul li,
.nosidebar .photobooth .gallery ul li {
    width: 22%;
}


/* Client Logo*/

.client_banner {
    margin: 0 -15px;
    padding: 0;
    text-align: center;
}

.clientlogo {
    width: 16.666%;
    margin: 0;
    padding: 0;
    display: table;
    height: 130px;
    box-sizing: border-box;
    float: left;
}

.clientlogo a {
    display: table-cell;
    vertical-align: middle;
}

.clientlogo img {
    width: 100%;
}

.logoslider {
    overflow: hidden;
}

.logoslider .clientlogo {
    width: 100%;
    border: none !important;
    margin: 0;
    padding: 0;
    height: auto;
    float: none;
}

.logoslider .item {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.logoslider .owl-nav .owl-next,
.logoslider .owl-nav .owl-prev {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.logoslider .owl-nav .owl-prev {
    left: -40px;
}

.logoslider .owl-nav .owl-next {
    right: -40px;
}

#section7 h2.section_title,
#section7 h2.section_title span {
    color: #ffffff;
}

.last {
    margin-right: 0;
}

.view-all-btn {
    text-align: center;
}

.view-all-btn a {
    font: bold 14px/18px 'Roboto', sans-serif;
    color: #454545;
    padding: 20px 45px;
    display: inline-block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

h2.heading {
    padding-bottom: 15px;
}

.underline {
    border-bottom: 1px solid #efeded;
}


/* --------- Pages ------- */

.content-area {
    width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
}

.site-main {
    width: 760px;
    margin: 0;
    padding: 0;
    float: left;
}

.sitefull {
    width: 100% !important;
}

#sidebar {
    width: 360px;
    float: right;
}

.sidebar-left {
    float: left !important;
}

.flotRight {
    float: right !important;
}


/*sidebar css*/

aside.widget {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 20px;
}

aside.widget ul {
    list-style: disc;
}

h3.widget-title {
    background-color: #282828;
    padding: 12px 15px;
    margin-bottom: 1px;
    color: #fff;
}

#sidebar #contactform_main input[type=email],
#sidebar #contactform_main input[type=tel],
#sidebar #contactform_main input[type=text],
#sidebar #contactform_main input[type=url],
#sidebar #contactform_main textarea {
    width: 85%;
}

#sidebar #contactform_main p {
    margin-bottom: 10px;
}

#sidebar ul li {
    list-style: none;
    border-bottom: 1px dashed #d0cfcf;
    padding: 10px 0;
}

#sidebar ul li a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal!important;
    padding-right: 15px;
}

#sidebar ul li a {
    font: 300 14px/18px "Roboto", sans-serif;
    color: #3b3b3b;
    display: inline-block;
}

#sidebar ul li a:hover,
#sidebar ul li.current-cat a {
    color: #88c87b;
}

#sidebar ul li:last-child {
    border: none;
}

.nosidebar {
    float: none !important;
    margin: 0 auto;
}


/* = Footer css
-------------------------------------------------------------- */

#footer-wrapper {
    background-color: #272727;
    position: relative;
    color: #fff;
    padding: 0;
}

.cols-2,
.cols-3,
.cols-4,
.cols-5 {
    padding: 60px 0 40px;
}

.cols-2 .widget-column-1 {
    width: 50%;
    float: left;
    margin: 0 4% 0 0;
}

.cols-2 .widget-column-2 {
    width: 46%;
    float: left;
}

.cols-3 .widget-column-1 {
    width: 31%;
    float: left;
    margin: 0;
}

.cols-3 .widget-column-2 {
    width: 30%;
    float: left;
    margin: 0 4.5%;
}

.cols-3 .widget-column-3 {
    width: 30%;
    float: left;
    margin-right: 0;
}

.cols-4 .widget-column-1 {
    width: 25%;
    float: left;
    margin: 0;
}

.cols-4 .widget-column-2 {
    width: 22%;
    float: left;
    margin: 0 2% 0 4%;
}

.cols-4 .widget-column-3 {
    width: 22%;
    float: left;
    margin: 0 2% 0 0;
}

.cols-4 .widget-column-4 {
    width: 23%;
    float: left;
    margin-right: 0;
}

.cols-5 .widget-column-1 {
    width: 24%;
    float: left;
    margin: 0;
}

.cols-5 .widget-column-2 {
    width: 17%;
    float: left;
    margin: 0 2%;
}

.cols-5 .widget-column-3 {
    width: 17%;
    float: left;
    margin: 0 2% 0 0;
}

.cols-5 .widget-column-4 {
    width: 17%;
    float: left;
    margin-right: 2%;
}

.cols-5 .widget-column-5 {
    width: 17%;
    float: left;
    margin: 0;
}

.footer h3 {
    font-weight: normal;
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
}

.footer h3 span {
    padding-top: 20px;
    border-bottom: 1px solid #88c87b;
    width: 35px;
    display: block;
}

.footer i {
    padding: 0 10px 0 0;
}

.cols-1 .widget-column-1 {
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.footer .cols-1 .widget-column-1 ul {
    margin: 0 auto;
    display: table;
    padding: 0;
}

.footer .cols-1 .widget-column-1 ul li {
    list-style: inside;
    width: auto;
    float: left;
    padding: 0 10px 0 0;
    margin: 0 auto;
    border-bottom: 0;
}

.footer .cols-1 .widget-column-1 ul li:last-child {
    margin-right: 0;
}

.footer .cols-1 .widget-column-1 ul li a {
    font: normal 12px/24px;
    padding: 0 0 0 20px;
    display: inline-block;
}

.cols-1 .widget-column-1 ul li.current_page_item a,
.footer .cols-1 .widget-column-1 ul li a:hover {
    transition: all .5s ease 0s;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #3c3c3c;
    display: block;
}

.footer ul li a {
    font-weight: 300;
    padding: 0;
    display: inline-block;
    color: #ffffff;
}

.footer ul li a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal!important;
    padding-right: 15px;
}

.footer ul li a:hover,
.footer ul li.current_page_item a {
    transition: all .5s ease 0s;
    color: #f08b08;
}

.footer ul li ul {
    margin: 0 0 0 20px;
}

.cols-2 a.readmore span,
.cols-3 a.readmore span,
.cols-4 a.readmore span {
    color: #fff;
}

.footer p {
    margin-bottom: 15px;
}

.footer .recent-post p {
    margin-bottom: 5px;
}

.phone-no {
    margin: 30px 0 0;
    padding-top: 30px;
    line-height: 30px;
    border-top: solid 1px #4bc4e7;
}

.phone-no strong {
    width: 25%;
    display: inline-block;
}

.cols-2 .parastyle,
.cols-3 .parastyle,
.cols-4 .parastyle {
    margin-bottom: 0;
}

.cols-2 .phone-no p,
.cols-3 .phone-no p,
.cols-4 .phone-no p {
    margin-bottom: 0;
}

.copyright-wrapper {
    position: relative;
    padding: 25px 0;
}

.copyright-txt {
    float: left;
    text-align: left;
}

.design-by {
    float: right;
    text-align: right;
}

.recent-post {
    margin: 0 0 15px;
    border-bottom: 1px dashed #3b3b3b;
    padding-bottom: 10px;
}

.recent-post img {
    float: left;
    width: 60px;
    margin: 3px 10px 5px 0;
    border: solid 3px #4c4b4b;
}

.recent-post h6 {
    color: #fff;
    line-height: 20px;
    margin: 0 0 5px;
    padding-top: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.recent-post.last {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.content-area .recent-post h6 {
    color: #454545;
}


/* = Contact Form css
-------------------------------------------------------------- */

.wpcf7 {
    margin: 0;
    padding: 0;
}

.wpcf7 form {
    margin: 0;
    padding: 0;
}

.wpcf7 form span.last {
    float: none !important;
}

.wpcf7 form input[type="date"],
.wpcf7 form input[type="url"],
.wpcf7 form select {
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    padding: 5px 3px;
    margin-top: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font: 13px arial;
    color: #777777;
}

.wpcf7 form input[type="checkbox"],
.wpcf7 form input[type="file"],
.wpcf7 form input[type="radio"] {
    margin-top: 10px;
    padding: 0;
}

span.wpcf7-list-item {
    margin: 0 15px 0 0 !important;
}

#contactform_main input[type=email],
#contactform_main input[type=tel],
#contactform_main input[type=text],
#contactform_main input[type=url],
#contactform_main textarea,
.wpcf7 form input[type="email"],
.wpcf7 form input[type="tel"],
.wpcf7 form input[type="text"],
.wpcf7 form textarea {
    width: 40%;
    padding: 15px 15px 15px 30px;
    float: left;
    margin: 0 8px 8px 0;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

#contactform_main textarea,
.wpcf7 form textarea {
    width: 87.3%;
    margin-right: 0;
    height: 130px;
}

#contactform_main span.capcode {
    float: left;
    padding: 13px;
    margin: 0 5px 0 0;
    border: 1px solid #eee;
    padding: 13px;
    float: left;
    margin: 0 8px 8px 0;
    -moz-box-shadow: inset 0 0 5px #f1f1f1;
    -webkit-box-shadow: inset 0 0 5px #f1f1f1;
    box-shadow: inset 0 0 5px #f1f1f1;
}

#contactform_main input[type=submit],
.wpcf7 form input[type="submit"] {
    font: 400 18px/24px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    background: #3a3c41;
}

#contactform_main input[type=submit]:hover,
.wpcf7 form input[type="submit"]:hover {
    background: #038dc4;
}

.wpcf7 form input[type="email"],
.wpcf7 form input[type="tel"],
.wpcf7 form input[type="text"],
.wpcf7 form textarea {
    float: none;
}

iframe {
    border: 5px solid #fff;
    padding: 0;
    width: 99%;
    margin-bottom: 25px;
}

.contact_left {
    float: left;
    width: 65%;
}

.contact_right {
    float: right;
    width: 30%;
}

.contact_right h3 {
    margin-bottom: 15px;
}


/*Contact Us icon */

#contactform_main .namefield {
    background: #ffffff url("images/icon-man.png") no-repeat scroll 10px center !important;
}

#contactform_main .emailfield {
    background: #ffffff url("images/icon-email.png") no-repeat scroll 10px center !important;
}

#contactform_main .webfield {
    background: #ffffff url("images/icon-webfield.png") no-repeat scroll 10px center !important;
}

#contactform_main .phonefield {
    background: #ffffff url("images/icon-phone.png") no-repeat scroll 10px center !important;
}

#contactform_main .messagefield {
    background: #ffffff url("images/icon-man.png") no-repeat scroll 10px 17px !important;
}

.homecontact-left {
    width: 53%;
    float: left;
}

.homefindus-right {
    width: 43%;
    float: right;
}

.post-title {
    margin-bottom: 0;
    font-weight: 400;
}

.post-title a {
    color: #3d3d3d;
}

.blog-post-repeat .postmeta {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
}

p.read-more a {
    font: 600 12px/22px 'raleway', sans-serif;
    background-color: #f08b08;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

p.read-more a:hover {
    background-color: #282828;
}

.blog-post-repeat .post-thumb img {
    float: left;
    margin-right: 15px;
}

.post-thumb img {
    margin-bottom: 15px;
}


/*default css*/

.error_msg {
    padding: 10px;
    background: #ffd3ce;
    color: #e00;
    border: 1px #e00 solid;
    margin: 15px 0;
}

.success_msg {
    padding: 10px;
    background: #dcffc5;
    color: #070;
    border: 1px #070 solid;
    margin: 15px 0;
}

.spacer20 {
    height: 20px;
    clear: both;
}

.pagination {
    display: table;
    clear: both;
    margin-bottom: 20px;
}

.pagination ul {
    list-style: none;
    margin: 20px 0;
}

.pagination ul li {
    display: inline;
    float: left;
    margin-right: 5px;
}

.pagination ul li a,
.pagination ul li span {
    background: #303441;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}

.pagination ul li .current,
.pagination ul li a:hover {
    background: #282828;
}

h1.entry-title,
h1.page-title {
    padding-bottom: 20px;
    margin: 0 0 20px;
    line-height: 30px;
    border-bottom: solid 1px #efefef;
}

article.tag-sticky-2 {
    background: #f6f6f6;
    padding: 10px;
}

.content-area p {
    margin: 5px 0 20px;
}

.content-area .phone-no p {
    margin: 0;
}

#contactform_main p {
    margin: 0;
}

.post-date {
    display: inline;
}

.post-comment {
    display: inline;
}

.post-categories {
    display: inline;
}

.post-tags {
    display: inline;
}

form.search-form {
    margin-bottom: 15px;
}

.post-password-form input[type=password],
input.search-field {
    border: 1px #eee solid;
    padding: 8px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.post-password-form input[type=submit],
.wpcf7-form input[type=submit],
input.search-submit {
    border: none;
    color: #ffffff;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}


/*photo gallery csss*/

.photobooth .filter-gallery {
    position: relative;
    width: auto;
    margin: 20px auto;
    text-align: center;
}

.photobooth .filter-gallery ul {
    list-style: none !important;
    overflow: hidden;
    margin: 0 0 40px;
}

.photobooth .filter-gallery ul li {
    float: left;
    padding: 0;
    width: auto;
    list-style: none;
    text-transform: capitalize;
}

.photobooth .filter-gallery ul li a {
    font: 400 16px/20px 'Roboto', san-serif;
    display: block;
    padding: 5px 10px;
}

.photobooth .filter-gallery ul li.current a {
    border-bottom: 3px solid #282828;
    transition: none;
}

.photobooth .gallery ul {
    list-style: none !important;
    margin: 0;
}

.photobooth .gallery ul li {
    background: #000;
    float: left;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background: url("images/zoom-icon.png") 50% 0 no-repeat;
    margin: 0 30px 30px 0;
    width: 23%;
    height: 280px;
    overflow: hidden;
    line-height: 40px;
    list-style: none;
    -webkit-box-shadow: -13px -13px 0 0 #edecec;
    -moz-box-shadow: -13px -13px 0 0 #edecec;
    box-shadow: -13px -13px 0 0 #edecec;
}

.photobooth .gallery ul li p {
    color: #fff;
    margin: 0;
    padding: 0 0 10px;
    position: absolute;
    width: 100%;
    display: none;
    text-align: center;
    bottom: 42%;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 999;
    font-style: italic;
    font-weight: bold;
}

.photobooth .gallery ul li strong {
    font: 20px 'Oswald';
    color: #282828;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
    bottom: 50%;
    z-index: 999;
}

.photobooth .gallery ul li img {
    vertical-align: middle;
    display: block;
    width: 100%;
    margin: 0;
}

.photobooth .gallery ul li:hover img {
    opacity: .2;
}

.photobooth .gallery ul li:hover strong {
    display: block;
}

.photobooth .gallery ul li:hover p {
    display: block;
    line-height: 100%;
}

.nav-previous {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-next {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav.post-navigation {
    padding: 10px 0 20px;
}

.accordion-box h2.active {
    color: #282828;
    border-bottom: 1px solid #ccc;
}

.comment-list,
ol.comment-list {
    list-style: none;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-list ul,
ol.comment-list ul {
    list-style: none;
}

.comment-list li.comment {
    margin-top: 20px;
}

.comment-list .comment-content h1,
.comment-list .comment-content h2,
.comment-list .comment-content h3,
.comment-list .comment-content h4,
.comment-list .comment-content h5,
.comment-list .comment-content h6 {
    margin-top: 15px;
}


/* Buttons */

.btnfeatures,
.button {
    background-color: #f08b08;
    border-bottom: 4px solid #e44545;
    color: #fff;
    font: 400 14px/22px 'PT Sans', sans-serif;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}

.button:hover {
    background-color: #282828;
    border-color: #1898c2;
    color: #fff;
}

.btnfeatures {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 20px;
    margin-right: 20px;
}

.btnfeatures:hover {
    border-color: #f08b08;
}


/* woocommerce CSS ================================================*/

a.added_to_cart {
    background: #e1472f;
    padding: 5px;
    display: inline-block;
    color: #fff;
    line-height: 1;
}

a.added_to_cart:hover {
    background: #000000;
}

a.button.added:before {
    content: '' !important;
}

#bbpress-forums ul li {
    padding: 0;
}

#subscription-toggle a.subscription-toggle {
    padding: 5px 10px;
    display: inline-block;
    color: #e1472f;
    margin-top: 4px;
}

textarea.wp-editor-area {
    border: 1px #ccc solid;
}

.woocommerce input[type=email],
.woocommerce input[type=tel],
.woocommerce input[type=text],
.woocommerce textarea {
    border: 1px #ccc solid;
    padding: 4px;
}

form.woocommerce-ordering select {
    padding: 5px;
    color: #777777;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
    font-family: 'Roboto', san-serif;
    color: #ff8a00;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    color: inherit !important;
}

.woocommerce ul.products li.product a img {
    border: solid 1px;
    border-radius: 5px;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
    font-family: 'Roboto', san-serif;
    color: #ff6d84;
}

#payment ul.payment_methods li,
.woocommerce ul.products li {
    list-style: none !important;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    color: inherit !important;
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
    border-bottom: 0 !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    text-align: center;
}

.woocommerce .products .star-rating {
    margin: 0 auto .5em;
}

.woocommerce div.product .product_title {
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
}


/*post nav css*/

.post-nav {
    clear: left;
    margin-top: 40px;
}

.next-page,
.prev-page {
    margin: 0;
    padding: 0;
}

.prev-page a {
    float: left;
}

.next-page a {
    float: right;
}

.next-page a,
.prev-page a {
    background-color: #333333;
    padding: 5px 10px;
    color: #ffffff;
    font: 15px 'Roboto', san-serif;
}

.next-page a:hover,
.prev-page a:hover {
    color: #ffffff;
    background-color: #282828;
}

.singleright {
    float: left;
}

.singleleft {
    float: right;
}

.woocomerceright {
    float: left;
}

.woocomerceleft {
    float: right;
}

.woocomercesitefull {
    width: 100%;
}

.woocommerce-product-search input[type='submit'] {
    border: none;
    padding: 7px 10px;
}

.woocommerce-product-search input[type='search'] {
    width: 78%;
}


/*------------------------------------------- Woocomerce Price Filter CSS -------------------------------------------*/

#sidebar .price_slider {
    margin-bottom: 1em;
}

#sidebar .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: .8751em;
}

#sidebar .price_slider_amount .button {
    font-size: 1.15em;
}

#sidebar .price_slider_amount .button {
    float: left;
}

#sidebar .ui-slider {
    position: relative;
    text-align: left;
}

#sidebar .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    cursor: pointer;
    background: #000;
    outline: none;
    top: -0.3em;
}

#sidebar .ui-slider .ui-slider-handle:last-child {
    margin-left: -0.5em;
}

#sidebar .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #04bcf0;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#sidebar .price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #d5d5d5;
}

#sidebar .ui-slider-horizontal {
    height: .5em;
}

#sidebar .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

#sidebar .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

#sidebar .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}

ul.cart_list li img,
ul.cart_list li img,
ul.product_list_widget li img,
ul.product_list_widget li img {
    width: 15%;
}

#sidebar del,
#sidebar ins,
#sidebar ul.product_list_widget li a {
    display: inline;
}

#sidebar ul.product_list_widget .star-rating {
    display: inline-block;
    margin: 0 10px;
}

.woocommerce #sidebar ul li a,
.woocommerce #sidebar ul li span.count {
    display: inline;
    margin: 0 10px;
}

label.screen-reader-text {
    display: none;
}

.woocommerce-product-gallery__wrapper {
    margin: 0;
}

.woocommerce ul {
    padding: 0;
    margin: 0;
}

.woocommerce li {
    display: block;
    list-style: none;
}

.woocommerce-MyAccount-navigation li a:hover,
.woocommerce-MyAccount-navigation li.is-active a {
    background: #04bcf0!important;
    color: #ffffff!important;
}

.woocommerce-MyAccount-navigation li a {
    background: #ececec!important;
    color: #282828!important;
    line-height: 40px;
    padding: 0 0 0 25px;
    margin-bottom: 1px;
    display: block;
}

.woocommerce-MyAccount-content,
.woocommerce-MyAccount-navigation {
    margin: 20px 0;
}

.woocommerce .login {
    width: 50%;
    margin: 0 auto !important;
    float: none;
}

.woocommerce .order_details li {
    line-height: 2 !important;
}

.view-product-carousel {
    overflow: hidden;
    margin: 0 -15px;
}

.view-product-carousel .owl-item .item {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.view-product-carousel .owl-item {
    position: relative;
    padding: 0 15px;
    height: 330px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.view-product-carousel .owl-item img {
    min-height: 330px;
    width: 100%;
}

.popular-title-price {
    width: 100%;
    position: absolute;
    z-index: 999999;
    bottom: 40px;
    box-sizing: border-box;
    text-align: center;
}

.popular-title {
    font: bold 15px/20px 'Roboto';
    text-transform: uppercase;
    padding: 10px 0 0;
    display: block;
}

.popular-price {
    display: inline-block;
}

.view-product-carousel .owl-nav .owl-next,
.view-product-carousel .owl-nav .owl-prev {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.view-product-carousel .owl-nav .owl-prev {
    left: -40px;
}

.view-product-carousel .owl-nav .owl-next {
    right: -40px;
}

.popular-price del .woocommerce-Price-amount {
    text-decoration: inherit;
    float: right;
    font-size: 15px;
    color: #929090;
    font-style: italic;
    font-family: 'Roboto Condensed';
    padding-left: 20px;
}

.popular-price .woocommerce-Price-amount,
.popular-price ins {
    text-decoration: none;
    float: left;
    font-size: 27px;
    line-height: 30px;
    color: #04bcf0;
    font-family: 'Roboto';
    padding-right: 20px;
}

.col-columns-1,
.col-columns-2,
.col-columns-3,
.col-columns-4,
.col-columns-5,
.col-columns-6,
.col-columns-7 {
    box-sizing: border-box;
    float: left;
    padding: 0 15px;
}

.col-columns-1 {
    width: 100%;
}

.col-columns-2 {
    width: 50%;
}

.col-columns-3 {
    width: 33.333%;
}

.col-columns-4 {
    width: 25%;
}

.col-columns-5 {
    width: 66.666%;
}

.highlight-product {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 25px 0;
    position: relative;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.highlight-product-thumb {
    width: 100%;
    text-align: center;
}

.highlight-product-con {
    padding-bottom: 30px;
}

.highlight-product-con h4 {
    text-transform: inherit;
    margin: 20px 0 10px;
}

.highlight-product-con p {
    color: #929090;
}

.highlight-product .shopnow {
    display: inline-block;
    margin: 25px 0 0;
    padding: 13px 33px;
}

.col-columns-5 .highlight-product-con h4 {
    margin-top: 45px;
    font-size: 31px;
}

.col-columns-5 .highlight-product {
    padding-top: 50px;
}

#section6 h2.section_title {
    padding-bottom: 0;
    text-align: left;
}


/*#section6{ padding-bottom:0;} */

#section6 p {
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 16px;
    color: #565656;
}

#section6 .view-all-btn a {
    margin-top: 30px;
}

#section6 .col-columns-5 {
    padding-left: 10%;
}

.services2 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
}

.services2-icon {
    margin: 0 45px 0 0;
    float: left;
    width: 130px;
    height: 112px;
    overflow: hidden;
}

.services2-icon img {
    min-height: 112px;
}

.services2-con {
    display: table;
}

.services2-con h3 {
    font-size: 25px;
}

.services2-con p {
    color: #929090;
    font-family: 'Roboto Condensed';
}

.services2-read {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    padding: 13px 28px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}