/* Mobile Portrait View */

@media screen and (max-width:479px) {
    section {
        padding: 30px 0;
    }
    .signin_wrap ul {
        display: table;
        margin: 0 auto;
    }
    .signin_wrap ul li {
        padding: 0 4px;
        text-align: center;
        margin: 0 auto;
    }
    .signin_wrap .widget-left,
    .signin_wrap .widget-right {
        float: none;
    }
    .signin_wrap .widget-right ul li {
        padding: 0 6px 0 7.3px;
    }
    .topnav {
        border-top: solid 1px #34c9ff;
        display: table;
        margin: 0 auto;
        float: none;
    }
    .container {
        padding: 0 10px;
        width: auto;
    }
    .header .header-inner .logo {
        width: auto;
        text-align: center;
        float: none;
        margin: 0 auto;
        padding: 10px 0;
    }
    .header-right {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .header-right .column1 {
        width: 100%;
        float: none;
        border: none;
        display: inline-block;
        margin: 0 auto 5% auto;
        padding: 0;
    }
    .header-right .column2 {
        width: auto;
        float: none;
        border: none;
        display: table;
        margin: 0 auto 5% auto;
        padding: 0;
    }
    .header .header-inner .header-nav {
        margin: 0 auto;
    }
    .slider-main,
    .innerbanner,
    .homeservices {
        top: 0;
        margin-bottom: 0;
    }
    .slider-main {
        min-height: 105px;
    }
    .nivoSlider {
        height: auto !important;
    }
    .nivo-controlNav {
        bottom: 0;
    }
    .nivo-caption {
        display: none !important;
    }
    #wrapOne {
        margin-top: 0;
    }
    .tm_description {
        padding: 0 5%;
    }
    .tm_description p {
        height: auto;
    }
    .one_column,
    .two_column,
    .three_column,
    .four_column,
    .five_column,
    .six_column {
        width: 100%;
        float: none;
        height: auto;
    }
    .three_column:hover h3 {
        display: none;
    }
    .one_column:hover h3 {
        width: inherit;
        display: block;
        padding: 0 0 20px 0;
        border: none;
        bottom: 0;
        position: relative;
    }
    .one_column .thumb_page img {
        width: 100%;
        margin: 0 0 20px 0;
        float: none;
        display: block;
    }
    .one_column {
        padding: 15% 0;
    }
    .whychooseus-box,
    #sitemain .whychooseus-box,
    .nosidebar .whychooseus-box {
        width: 90%;
        margin: 0 0 10% 0;
        padding: 10% 5%;
    }
    .products-box {
        width: 270px;
        margin: 0 auto 5% auto !important;
        float: none;
        display: block;
    }
    #sitemain .products-box .review_1,
    #sitemain .products-box .review_2,
    #sitemain .products-box .review_3,
    #sitemain .products-box .review_4,
    #sitemain .products-box .review_5,
    .nosidebar .products-box .review_1,
    .nosidebar .products-box .review_2,
    .nosidebar .products-box .review_3,
    .nosidebar .products-box .review_4,
    .nosidebar .products-box .review_5 {
        right: 35%;
        top: 45%;
    }
    #sitemain .products-box .prodprice,
    .nosidebar .products-box .prodprice {
        right: 27%;
    }
    #sitemain .products-box .prodbuy a,
    .nosidebar .products-box .prodbuy a {
        right: 27%;
    }
    .newproductfilter ul#filter li {
        display: inline-flex;
    }
    .newproductgallery ul#portfolio li {
        width: 100%;
        margin: 0 auto!important;
        float: none;
        display: block;
    }
    .men-goggles {
        width: 100%;
    }
    .news-box {
        width: 90%;
        margin: 0 auto 15% auto;
        float: none;
        display: table;
    }
    .news {
        padding: 5% 0;
        width: 100%;
        display: block;
    }
    .newsread {
        left: 0;
    }
    .testimonials-home .customNavigation {
        top: -30px;
    }
    .news,
    #sitemain .news,
    .nosidebar .news {
        min-height: inherit;
    }
    #sitemain .date-news,
    .nosidebar .date-news {
        width: 70px;
    }
    #sitemain .date-news .byadmin-date,
    .nosidebar .date-news .byadmin-date,
    #sitemain .date-news .byadmin-month,
    .nosidebar .date-news .byadmin-month {
        padding: 10px 15px;
    }
    .ourteam_col {
        width: 100%;
        margin: 0 auto 15% auto;
        display: block;
    }
    .section-teammember {
        margin-top: 10%;
    }
    .homecontact-left,
    .homefindus-right {
        width: 100%;
        float: none;
        margin: 0 auto 15% auto;
    }
    .clientlogo {
        width: 48.5%;
        margin: 0 2.5% 2.5% 0;
    }
    .clientlogo:nth-child(2n+2) {
        margin-right: 0;
    }
    #sitemain .clientlogo,
    .nosidebar .clientlogo {
        width: 47.5%;
        margin: 0 2.5% 2.5% 0;
    }
    #sitemain .clientlogo:nth-child(2n+2),
    .nosidebar .clientlogo:nth-child(2n+2) {
        margin-right: 0;
    }
    /* Footer */
    .footer ul li {
        width: auto;
        margin-right: 0;
        float: none;
    }
    .cols-2 .widget-column-1,
    .cols-2 .widget-column-3,
    .cols-3 .widget-column-1,
    .cols-3 .widget-column-2,
    .cols-3 .widget-column-3,
    .cols-4 .widget-column-1,
    .cols-4 .widget-column-2,
    .cols-4 .widget-column-3,
    .cols-4 .widget-column-4,
    .cols-5 .widget-column-1,
    .cols-5 .widget-column-2,
    .cols-5 .widget-column-3,
    .cols-5 .widget-column-4,
    .cols-5 .widget-column-5 {
        width: auto;
        float: none;
        clear: both;
        min-height: inherit;
        margin: 0 0 10% 0;
    }
    .cols-2 .widget-column-1,
    .cols-3 .widget-column-2,
    .cols-4 .widget-column-2,
    .cols-4 .widget-column-3 {}
    .copyright-txt,
    .design-by {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: auto;
        display: block;
    }
    /* Pages */
    #sidebar {
        width: 100%;
        float: none;
    }
    .sidebar-left {
        float: none !important;
        width: 100%;
    }
    .flotRight {
        float: none !important;
    }
    .blog-post-repeat .post-thumb img {
        float: none;
        margin-right: 0;
        width: 100%;
        height: 100%;
    }
    .photobooth .filter-gallery {
        width: auto;
    }
    .sitefull .photobooth .gallery ul li,
    .photobooth .gallery ul li {
        width: 100%;
    }
    .photobooth .filter-gallery ul li a {
        padding: 2px 5px;
    }
    .photobooth .gallery ul li img {
        height: auto;
    }
    #sitemain .photobooth .gallery ul li,
    .nosidebar .photobooth .gallery ul li {
        width: 100%;
    }
    .content-area {
        width: auto;
        margin: 0;
        padding: 20px 10px;
    }
    .site-main {
        width: auto;
        margin: 0;
        padding: 0;
        float: none;
    }
    .contact_left,
    .contact_right {
        float: none;
        width: 100%;
        margin-bottom: 10%;
    }
    #contactform_main input[type="text"],
    #contactform_main input[type="email"],
    #contactform_main input[type="tel"],
    #contactform_main input[type="url"],
    #contactform_main textarea {
        width: 84%;
        margin-right: 0;
    }
    .header .header-inner .logo h1 {
        font-size: 28px !important;
    }
    .header-right input[type="submit"] {
        padding: 9px 10px;
    }
    .header-right input[type="search"] {
        width: 70%;
    }
    .header-right .select-category {
        width: 30%;
        line-height: 40px;
    }
    .header-right select {
        font-size: 12px;
    }
    .newproductgallery {
        margin: 0;
    }
    .newproductfilter ul#filter li a {
        padding: 10px;
    }
    .news-box .news-thumb img,
    .news-box .news-thumb {
        width: 100%;
        height: auto;
        min-height: inherit;
    }
    .three_column .thumb_page {
        height: 200px;
    }
    .three_column .thumb_page img {
        min-height: 200px;
    }
    .men-goggles h2 {
        font-size: 28px;
    }
    .men-goggles span {
        font-size: 25px;
    }
    .area_row,
    .view-product-carousel {
        margin: 0;
    }
    .threebox {
        width: 100%;
        float: none;
        margin: 0 auto 5% auto;
        padding: 0;
    }
    .threebox .sertitle span {
        padding-bottom: 15px;
    }
    h2.section_title {
        font-size: 26px !important;
        padding-bottom: 0
    }
    .newproductgallery ul#portfolio li .newproduct-thumb {
        height: auto
    }
    .newproductgallery ul#portfolio li .newproduct-thumb img {
        min-height: auto
    }
    .nivo-directionNav a {
        height: 50px;
        width: 50px;
    }
    a.nivo-prevNav {
        right: inherit;
        left: 0;
    }
    a.nivo-nextNav {
        right: 0;
    }
    .view-product-carousel .owl-nav .owl-prev,
    .logoslider .owl-nav .owl-prev,
    .testimonials .owl-nav .owl-prev {
        left: 0;
    }
    .view-product-carousel .owl-nav .owl-next,
    .logoslider .owl-nav .owl-next,
    .testimonials .owl-nav .owl-next {
        right: 0;
    }
    .view-product-carousel .owl-item {
        height: auto;
    }
    .view-product-carousel .owl-item img {
        min-height: inherit;
    }
    .logoslider .owl-nav .owl-prev,
    .logoslider .owl-nav .owl-next,
    .view-product-carousel .owl-nav .owl-prev,
    .view-product-carousel .owl-nav .owl-next {
        top: 62%;
        transform: translateY(-62%);
        -webkit-transform: translateY(-62%);
        -moz-transform: translateY(-62%);
    }
    .col-columns-1,
    .col-columns-2,
    .col-columns-3,
    .col-columns-4,
    .col-columns-5,
    .col-columns-6,
    .col-columns-7,
    .services2 {
        float: none;
        width: 100%;
    }
    .services2 {
        margin-bottom: 15%;
    }
    .services2-icon {
        float: none;
        margin: 0 0 30px 0;
    }
    .services2-con {
        display: block;
    }
}


/* Mobile Landscape View */

@media screen and (min-width:480px) and (max-width:767px) {
    section {
        padding: 40px 0;
    }
    .container,
    .content-area {
        padding: 0 10px;
        width: 460px;
    }
    .signin_wrap .widget-left,
    .signin_wrap .widget-right {
        float: none;
    }
    .signin_wrap ul {
        display: table;
        margin: 0 auto;
    }
    .topnav {
        float: none;
        border-top: solid 1px #34c9ff;
        display: table;
        margin: 0 auto;
    }
    .header .header-inner .logo {
        width: auto;
        text-align: center;
        float: none;
        margin: 0;
        padding: 10px 0;
    }
    .header-right {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .header-right .column1 {
        width: 100%;
        float: none;
        border: none;
        display: inline-block;
        margin: 0 auto 5% auto;
        padding: 0;
    }
    .header-right .column2 {
        width: auto;
        float: none;
        border: none;
        display: table;
        margin: 0 auto 5% auto;
        padding: 0;
    }
    .header .header-inner .header-nav {
        margin: 0 auto;
    }
    .slider-main {
        min-height: 180px;
    }
    .slider-main,
    .innerbanner,
    .homeservices {
        top: 0;
        margin-bottom: 0;
    }
    .nivoSlider {
        height: auto !important;
    }
    .nivo-caption {
        width: 90%;
    }
    .nivo-directionNav a {
        width: 60px;
        height: 60px;
    }
    a.nivo-nextNav {
        right: 0;
    }
    a.nivo-prevNav {
        right: 13%;
    }
    .nivo-controlNav {
        bottom: 20px;
    }
    .slide_info h2 {
        font-size: 28px !important;
        margin-bottom: 30px !important
    }
    .slide_info h2 strong {
        font-size: 50px !important;
        padding: 10px 0 !important;
        margin-bottom: 0 !important;
    }
    .slide_info p {
        display: none;
    }
    #wrapOne {
        margin-top: 0;
    }
    .one_column,
    .two_column,
    .three_column,
    .four_column,
    .five_column,
    .six_column {
        width: 70%;
        margin: 0 auto;
        float: none;
        height: auto;
    }
    .three_column:hover h3 {
        display: none;
    }
    .one_column:hover h3 {
        width: inherit;
        display: block;
        padding: 0 0 20px 0;
        border: none;
        bottom: 0;
        position: relative;
    }
    .one_column .thumb_page img {
        width: 100%;
        margin: 0 0 20px 0;
        float: none;
        display: block;
    }
    .one_column {
        padding: 15% 0;
    }
    .tm_description {
        padding: 0;
    }
    .whychooseus-box,
    #sitemain .whychooseus-box,
    .nosidebar .whychooseus-box {
        width: 47.80%;
        margin: 0 10px 5% 0;
        padding: 5%;
        box-sizing: border-box;
    }
    .whychooseus-box i {
        font-size: 28px;
    }
    .whychooseus-box h3 {
        font-size: 15px;
    }
    .products-box {
        width: 48.90%;
    }
    .products-box:nth-child(2n+2) {
        margin-right: 0;
    }
    #sitemain .products-box .review_1,
    #sitemain .products-box .review_2,
    #sitemain .products-box .review_3,
    #sitemain .products-box .review_4,
    #sitemain .products-box .review_5,
    .nosidebar .products-box .review_1,
    .nosidebar .products-box .review_2,
    .nosidebar .products-box .review_3,
    .nosidebar .products-box .review_4,
    .nosidebar .products-box .review_5 {
        right: 35%;
        top: 45%;
    }
    #sitemain .products-box .prodprice,
    .nosidebar .products-box .prodprice,
    #sitemain .products-box .prodbuy a,
    .nosidebar .products-box .prodbuy a {
        right: 27%;
    }
    .newproductfilter ul#filter li {
        display: inline-flex;
    }
    .newproductgallery ul#portfolio li {
        width: 50%;
    }
    .men-goggles {
        width: auto;
    }
    #sitemain .threebox i,
    .nosidebar .threebox i {
        display: inherit;
    }
    .news-box {
        width: 90%;
        margin: 0 auto 10% auto;
        padding: 0;
        float: none;
        display: table;
    }
    .news-box .news-thumb {
        height: auto;
        width: 100%;
    }
    .news-box .news-thumb img {
        min-height: inherit;
    }
    .news {
        padding: 5% 0;
        width: 100%;
        float: none;
    }
    .newsread {
        left: 0;
    }
    .news,
    #sitemain .news,
    .nosidebar .news {
        min-height: inherit;
    }
    #sitemain .date-news,
    .nosidebar .date-news {
        width: 70px;
    }
    #sitemain .date-news .byadmin-date,
    .nosidebar .date-news .byadmin-date,
    #sitemain .date-news .byadmin-month,
    .nosidebar .date-news .byadmin-month {
        padding: 10px 15px;
    }
    #testimonials .testimonials-home {
        width: auto;
        float: none;
    }
    .section-teammember {
        margin-top: 10%;
    }
    .ourteam_col {
        width: auto;
        margin: 0 auto 10% auto;
        float: none;
    }
    .ourteam_thumb {
        min-height: inherit;
    }
    .homecontact-left {
        width: 100%;
        float: none;
        margin: 0 auto 15% auto;
    }
    .homefindus-right {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .clientlogo {
        margin: 0 2% 2% 0;
        width: 31.333%;
    }
    .cols-2 .widget-column-1,
    .cols-2 .widget-column-3,
    .cols-3 .widget-column-1,
    .cols-3 .widget-column-2,
    .cols-3 .widget-column-3,
    .cols-4 .widget-column-1,
    .cols-4 .widget-column-2,
    .cols-4 .widget-column-3,
    .cols-4 .widget-column-4,
    .cols-5 .widget-column-1,
    .cols-5 .widget-column-2,
    .cols-5 .widget-column-3,
    .cols-5 .widget-column-4,
    .cols-5 .widget-column-5 {
        width: auto;
        float: none;
        clear: both;
        min-height: inherit;
        margin: 0 0 5% 0;
    }
    .copyright-txt,
    .design-by {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: auto;
        display: block;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
    .sidebar-left {
        float: none !important;
        width: 100%;
    }
    .flotRight {
        float: none !important;
    }
    .blog-post-repeat .post-thumb img {
        float: none;
        margin-right: 0;
        width: 100%;
        height: 100%;
    }
    .photobooth .filter-gallery {
        width: auto;
    }
    .sitefull .photobooth .gallery ul li,
    .photobooth .gallery ul li {
        width: 100%;
    }
    .photobooth .filter-gallery ul li a {
        padding: 2px 5px;
    }
    .photobooth .gallery ul li img {
        height: auto;
    }
    #sitemain .photobooth .gallery ul li,
    .nosidebar .photobooth .gallery ul li {
        width: 100%;
    }
    .content-area {
        margin: 0 auto;
        padding: 20px 10px;
    }
    .site-main {
        width: auto;
        margin: 0;
        padding: 0;
        float: none;
    }
    .contact_left,
    .contact_right {
        float: none;
        width: 100%;
        margin-bottom: 10%;
    }
    #contactform_main input[type="text"],
    #contactform_main input[type="email"],
    #contactform_main input[type="tel"],
    #contactform_main input[type="url"],
    #contactform_main textarea {
        width: 89%;
        margin-right: 0;
    }
    .newproductgallery {
        margin: 0;
    }
    .newproductfilter ul#filter li a {
        padding: 10px;
    }
    .date-news {
        left: -25px;
    }
    .men-goggles h2 {
        font-size: 40px;
    }
    .men-goggles span {
        font-size: 30px;
    }
    .products-box .products-thumb {
        height: 288px;
    }
    .area_row {
        margin: 0;
    }
    .threebox {
        width: 80%;
        float: none;
        margin: 0 auto 5% auto;
        padding: 0;
    }
    .newproductgallery ul#portfolio li .newproduct-thumb {
        height: 240px
    }
    .newproductgallery ul#portfolio li .newproduct-thumb img {
        min-height: 240px
    }
    .area_row,
    .view-product-carousel {
        margin: 0;
    }
    .view-product-carousel .owl-item {
        height: 250px;
    }
    .view-product-carousel .owl-item img {
        min-height: 250px;
    }
    .view-product-carousel .owl-nav .owl-prev,
    .logoslider .owl-nav .owl-prev,
    .testimonials .owl-nav .owl-prev {
        left: 0;
    }
    .view-product-carousel .owl-nav .owl-next,
    .logoslider .owl-nav .owl-next,
    .testimonials .owl-nav .owl-next {
        right: 0;
    }
    .popular-price ins,
    .popular-price .woocommerce-Price-amount,
    .newproduct-price ins,
    .newproduct-price .woocommerce-Price-amount {
        font-size: 20px;
        padding: 0 10px
    }
    .col-columns-1,
    .col-columns-2,
    .col-columns-3,
    .col-columns-4,
    .col-columns-5,
    .col-columns-6,
    .col-columns-7 {
        width: 50%;
    }
    #section6 h2.section_title {
        font-size: 24px;
    }
    #section6 .col-columns-5 {
        padding: 0;
    }
    #section6 {
        background-position: -280px 0 !important;
        background-size: inherit !important;
    }
    #section6 p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 22px;
    }
    #section6 .view-all-btn a {
        margin-top: 0;
    }
    .client-info strong {
        font-size: 16px;
    }
    .client-info strong span {
        padding-bottom: 5px;
        font-size: 13px;
    }
    .tm_description p {
        height: 150px;
        line-height: 24px;
    }
    .tm_description {
        font-size: 15px !important;
    }
    .services2-icon {
        margin: 0 0 30px 0
    }
    .cols-5 .widget-column-1,
    .cols-5 .widget-column-2,
    .cols-5 .widget-column-3,
    .cols-5 .widget-column-4,
    .cols-5 .widget-column-5 {
        float: left;
        width: 50%;
        min-height: 300px;
        clear: inherit;
        padding: 0 10px;
        box-sizing: border-box;
    }
}


/* Tablet View */

@media screen and (max-width:1170px) and (min-width:768px) {
    .container {
        padding: 0 10px;
        width: auto;
    }
    .signin_wrap ul li {
        padding: 0 10px;
    }
    .header-right .column1 {
        width: 340px;
    }
    .header .header-inner .logo {
        height: auto;
    }
    .header .header-inner .logo img {
        height: auto;
    }
    .slider-main {
        min-height: 270px;
    }
    .nivoSlider {
        height: auto !important;
    }
    .nivo-caption {
        width: 50%;
    }
    .slide_info p {
        margin-bottom: 25px;
    }
    .nivo-controlNav {
        bottom: 20%;
    }
    a.nivo-nextNav {
        right: 1.5%;
    }
    .three_column:hover h3 {
        display: none;
    }
    .two_column {
        width: 50%;
    }
    .four_column {
        width: 25%;
    }
    .five_column {
        width: 20%;
        height: 149px;
    }
    .six_column {
        width: 33.3%;
        height: auto;
    }
    .one_column:hover h3 {
        width: inherit;
        display: block;
        padding: 0 0 20px 0;
        border: none;
        bottom: 0;
        position: relative;
    }
    .one_column {
        padding: 5% 0;
    }
    .whychooseus-box {
        width: 16.9%;
        text-align: center;
        padding: 15px 10px 15px 30px;
    }
    .whychooseus-box i {
        float: none;
        margin: 0 0 7% 0;
    }
    #sitemain .whychooseus-box,
    .nosidebar .whychooseus-box {
        width: 43.9%;
        text-align: inherit;
    }
    #sitemain .whychooseus-box i,
    .nosidebar .whychooseus-box i {
        float: left;
        margin: 0 4.5% 0 0;
    }
    .products-box .review_1,
    .products-box .review_2,
    .products-box .review_3,
    .products-box .review_4,
    .products-box .review_5 {
        right: 27%;
        top: 35%;
    }
    .products-box .prodprice {
        right: 13%;
        bottom: 35%;
    }
    .products-box .prodbuy a {
        right: 12%;
        bottom: 10%;
    }
    #sitemain .products-box .review_1,
    #sitemain .products-box .review_2,
    #sitemain .products-box .review_3,
    #sitemain .products-box .review_4,
    #sitemain .products-box .review_5,
    .nosidebar .products-box .review_1,
    .nosidebar .products-box .review_2,
    .nosidebar .products-box .review_3,
    .nosidebar .products-box .review_4,
    .nosidebar .products-box .review_5,
    #sitemain .products-box .prodprice,
    .nosidebar .products-box .prodprice,
    #sitemain .products-box .prodbuy,
    .nosidebar .products-box .prodbuy {
        display: none;
    }
    .ourteam_thumb {
        min-height: inherit;
    }
    .team-social-icon a {
        width: 35px;
    }
    #contactform_main input[type="text"],
    #contactform_main input[type="email"],
    #contactform_main input[type="tel"],
    #contactform_main input[type="url"],
    .wpcf7 form input[type="text"],
    .wpcf7 form input[type="email"],
    .wpcf7 form input[type="tel"] {
        width: 35%;
    }
    #contactform_main textarea,
    .wpcf7 form textarea {
        width: 85%;
    }
    #sitemain .clientlogo,
    .nosidebar .clientlogo {
        margin-right: 5px;
    }
    .clientlogo {
        margin-right: 14px;
        width: 15%;
    }
    .clientlogo.last {
        margin-right: 0 !important
    }
    .footer ul li {
        width: auto;
        margin-right: 0;
        float: none;
    }
    #some-facts .everydaytime .everytime {
        padding: 0;
    }
    .content-area {
        width: auto;
        margin: 0;
        padding: 40px 20px;
    }
    #sitemain .threebox,
    .nosidebar .threebox {
        text-align: center;
    }
    #sitemain .threebox .chooseus-content,
    .nosidebar .threebox .chooseus-content {
        width: auto;
    }
    #sitemain .client-thumb img,
    .nosidebar .client-thumb img {
        float: none;
        text-align: center;
        margin: 0 auto;
        display: table;
    }
    #sitemain .news,
    .nosidebar .news {
        bottom: 0;
    }
    #sitemain .news-box .view-all-btn a,
    .nosidebar .news-box .view-all-btn a {
        display: none;
    }
    #sitemain .news p,
    .nosidebar .news p {
        margin: 0;
    }
    #sitemain .team-social-icon a,
    .nosidebar .team-social-icon a {
        width: 25px;
    }
    #sitemain .news a.read-more,
    .nosidebar .news a.read-more {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
        left: 0;
    }
    #sidebar #contactform_main input[type="text"],
    #sidebar #contactform_main input[type="email"],
    #sidebar #contactform_main input[type="tel"],
    #sidebar #contactform_main input[type="url"],
    #sidebar #contactform_main textarea {
        width: 84% !important;
        margin-right: 0;
    }
    .sitefull .photobooth .gallery ul li,
    .photobooth .gallery ul li {
        width: 21.8%;
    }
    #sidebar {
        width: 230px;
    }
    .site-main {
        width: 100%;
    }
    #sitemain .photobooth .gallery ul li,
    .nosidebar .photobooth .gallery ul li {
        width: 20%;
    }
    .header .header-inner .logo h1 {
        font-size: 28px !important;
    }
    .header-right input[type="submit"] {
        padding: 9px 10px;
    }
    .header-right input[type="search"] {
        width: 70%;
    }
    .header-right .select-category {
        width: 30%;
        line-height: 40px;
    }
    .newproductgallery {
        margin: 0;
    }
    .whychooseus-box h3 {
        font-size: 15px;
    }
    .products-box .products-thumb {
        height: 220px;
    }
    .news-box {
        margin: 0;
        padding: 15px;
        width: 50%;
        box-sizing: border-box
    }
    .news {
        width: 100%;
        display: block;
        padding: 5%;
        float: none;
        min-height: 220px;
    }
    .news-box .news-thumb {
        height: 280px;
        float: none;
        width: 100%;
    }
    .news-box .news-thumb img {
        min-height: 280px;
    }
    .newsread {
        left: 5.5%;
    }
    .newproductfilter ul#filter li a {
        padding: 10px 20px;
    }
    .three_column,
    .three_column .thumb_page {
        height: 151px;
    }
    .three_column .thumb_page img {
        min-height: 151px;
    }
    .header-right .column2 {
        margin-top: 0;
    }
    .newproductgallery ul#portfolio li .newproduct-thumb {
        height: 190px;
    }
    .newproductgallery ul#portfolio li .newproduct-thumb img {
        min-height: 190px;
    }
    .phone-no {
        margin: 0;
    }
    .view-product-carousel .owl-item {
        height: 270px;
    }
    .view-product-carousel .owl-item img {
        min-height: 270px;
    }
    .area_row,
    .view-product-carousel {
        margin: 0;
    }
    .view-product-carousel .owl-nav .owl-prev,
    .logoslider .owl-nav .owl-prev,
    .testimonials .owl-nav .owl-prev {
        left: 0;
    }
    .view-product-carousel .owl-nav .owl-next,
    .logoslider .owl-nav .owl-next,
    .testimonials .owl-nav .owl-next {
        right: 0;
    }
    .tm_description {
        font-size: 16px !important;
    }
    .tm_description p {
        height: auto;
        line-height: 28px;
    }
    .services2-icon {
        margin: 0 15px 0 0;
    }
}

@media screen and (max-width:1170px) and (min-width:1024px) {
    .three_column,
    .three_column .thumb_page {
        height: 202px;
    }
    .three_column .thumb_page img {
        min-height: 202px;
    }
    .products-box .products-thumb {
        height: 299px;
    }
    .header-right .column1 {
        width: auto;
    }
    .newproductgallery ul#portfolio li .newproduct-thumb {
        height: 270px;
    }
    .newproductgallery ul#portfolio li .newproduct-thumb img {
        min-height: 270px;
    }
    .threebox .services-thumb {
        width: auto;
    }
    .threebox .sertitle {
        font-size: 40px;
    }
    .threebox .sertitle span {
        padding-bottom: 20px;
    }
}

@media screen and (max-width:1169px) and (min-width:980px) {
    .header .header-inner .logo {
        width: auto;
    }
    .header .header-inner .nav {
        padding: 0 15px;
        width: auto;
    }
    .header-right {
        width: auto;
    }
    .header-right .column2 {
        width: auto;
        padding: 0;
        margin: 0 0 0 20px;
    }
    .three_column:hover h3 {
        display: table;
    }
    .two_column {
        width: 50%;
    }
    .four_column {
        width: 25%;
        height: 250px;
    }
    .five_column {
        width: 20%;
    }
    .six_column {
        width: 16.6%;
        height: 165px;
    }
    .one_column:hover h3 {
        width: inherit;
        display: block;
        padding: 0 0 20px 0;
        border: none;
        bottom: 0;
        position: relative;
    }
    .whychooseus-box {
        width: 24%;
        margin: 0 1% 0 0;
        padding: 30px;
        text-align: inherit;
        box-sizing: border-box;
    }
    .whychooseus-box i {
        float: left;
        margin: 0 9% 0 0;
    }
    #sitemain .whychooseus-box,
    .nosidebar .whychooseus-box {
        width: 46%;
    }
    .products-box .review_1,
    .products-box .review_2,
    .products-box .review_3,
    .products-box .review_4,
    .products-box .review_5 {
        right: 30%;
        top: 50%;
    }
    .products-box .prodprice {
        right: 20%;
        bottom: 25%;
    }
    .products-box .prodbuy a {
        right: 20%;
        bottom: 8%;
    }
    #sitemain .products-box .review_1,
    #sitemain .products-box .review_2,
    #sitemain .products-box .review_3,
    #sitemain .products-box .review_4,
    #sitemain .products-box .review_5,
    .nosidebar .products-box .review_1,
    .nosidebar .products-box .review_2,
    .nosidebar .products-box .review_3,
    .nosidebar .products-box .review_4,
    .nosidebar .products-box .review_5,
    #sitemain .products-box .prodprice,
    .nosidebar .products-box .prodprice,
    #sitemain .products-box .prodbuy,
    .nosidebar .products-box .prodbuy {
        display: block;
    }
    #sitemain .products-box .review_1,
    #sitemain .products-box .review_2,
    #sitemain .products-box .review_3,
    #sitemain .products-box .review_4,
    #sitemain .products-box .review_5,
    .nosidebar .products-box .review_1,
    .nosidebar .products-box .review_2,
    .nosidebar .products-box .review_3,
    .nosidebar .products-box .review_4,
    .nosidebar .products-box .review_5 {
        right: 20%;
    }
    #sitemain .products-box .prodprice,
    .nosidebar .products-box .prodprice {
        right: 7%;
    }
    #sitemain .products-box .prodbuy a,
    .nosidebar .products-box .prodbuy a {
        right: 7%;
        bottom: 2%;
    }
    #sitemain .news,
    .nosidebar .news {
        bottom: 20%;
    }
    #sitemain .news-box .view-all-btn a,
    .nosidebar .news-box .view-all-btn a {
        display: block;
        bottom: 2%;
        left: 30%;
    }
    #sitemain .team-social-icon a,
    .nosidebar .team-social-icon a {
        width: 35px;
    }
    #contactform_main input[type="text"],
    #contactform_main input[type="email"],
    #contactform_main input[type="tel"],
    #contactform_main input[type="url"],
    .wpcf7 form input[type="text"],
    .wpcf7 form input[type="email"],
    .wpcf7 form input[type="tel"] {
        width: 37%;
    }
    #sidebar {
        width: 300px;
    }
    .footer-top .column1 {
        margin-right: 2%;
        width: 28.5%;
        min-height: 60px;
    }
    .footer i {
        margin-right: 10px;
    }
    #sitemain .threebox,
    .nosidebar .threebox {
        text-align: left;
    }
    #sitemain .threebox .chooseus-content,
    .nosidebar .threebox .chooseus-content {
        width: 53.5%;
    }
    #sitemain .ourclasses_col,
    .nosidebar .ourclasses_col {
        min-height: 260px;
    }
    .sitefull .photobooth .gallery ul li,
    .photobooth .gallery ul li {
        width: 22.6%;
    }
    .newproductgallery {
        margin: 0;
    }
    a.nivo-nextNav {
        right: 2.5%;
    }
    a.nivo-prevNav {
        right: 10.8%;
    }
    .view-product-carousel .owl-item {
        height: 270px;
    }
    .view-product-carousel .owl-item img {
        min-height: 270px;
    }
    .news-box .news-thumb {
        width: 50%;
        float: left;
        height: 240px;
    }
    .news-box .news-thumb img {
        width: 100%;
        min-height: 240px;
    }
    .news {
        padding: 0 5%;
        width: 50%;
        float: right;
        min-height: 240px;
    }
    .newsread {
        left: 10%
    }
    .news-box h3 {
        margin-bottom: 5px;
    }
    .infopostmeta {
        font-size: 14px;
        padding-bottom: 5px;
    }
    .services2-icon {
        margin: 0 40px 0 0;
    }
}

@media screen and (max-width:980px) {
    .toggleMenu {
        display: block;
    }
    .getaquote {
        position: relative;
        margin: 0 auto 5% auto;
        float: none;
        display: table;
    }
    .wrap_two br {
        display: none;
    }
    .header .header-inner .nav {
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
        overflow-x: hidden;
    }
    .header .header-inner .nav ul {
        color: #000;
        width: 100% !important;
        float: none !important;
        margin: 0;
        padding: 0;
    }
    .header .header-inner .nav ul li {
        display: block;
        float: none;
        text-align: left;
        padding: 0;
    }
    .header .header-inner .nav ul li a {
        padding: 5px 10px !important;
        display: block;
        color: #000;
        border-bottom: 1px #cccccc solid;
        border-right: none;
    }
    .header .header-inner .nav ul li a:hover {
        color: #ffffff;
    }
    .header .header-inner .nav ul li ul,
    .header .header-inner .nav ul li ul ul {
        display: block !important;
    }
    .header .header-inner .nav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .header .header-inner .nav ul li ul li a {
        padding-left: 20px !important;
    }
    .header .header-inner .nav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    .header .header-inner .nav ul li ul li ul li ul li a {
        padding-left: 40px !important;
    }
    .header .header-inner .nav ul li:hover>ul {
        background: none transparent !important;
        width: auto !important;
        display: block;
        position: relative !important;
        left: 0;
        right: 0;
        top: 0;
    }
    .header .header-inner .nav ul li:hover ul li ul,
    .header .header-inner .nav ul li:hover ul li:hover>ul,
    .header .header-inner .nav ul li:hover ul li:hover>ul li ul {
        background: transparent !important;
        display: block;
        position: relative !important;
        right: 0;
        left: 0;
        top: 0;
    }
    .header .header-inner .nav ul li:hover ul li:hover ul,
    .header .header-inner .nav ul li:hover ul li:hover ul li:hover ul {
        left: 0 !important;
    }
    .newproductgallery {
        margin: 0;
    }
}